# Created by https://www.toptal.com/developers/gitignore/api/python

__pycache__/
.coverage
.coverage.*
.cache
.pytest_cache/
.env
.venv
/site
.mypy_cache/
.idea/
.vscode/

# Custom
TODO
.logs/
diagrams/
csv/
*.log
cspell.json
ssh_server
test.py
web/templates/dist/
