{% if lang == 'en-US' %}
<h3 id="info-title-2">Data Source</h3>
<p id="info-desc-2">
  All data we handle is retrieved and obtained <strong>"AS IS"</strong> from
  <a class="link" href="https://www.scopus.com" target="_blank" rel="nofollow noopener noreferrer"
    translate="no">Scopus</a>®,
  maintained by
  <a class="link" href="https://www.elsevier.com/" target="_blank" rel="nofollow noopener noreferrer"
    translate="no">Elsevier B.V.</a>
  <strong>There is no implied endorsement by the rights owners</strong> and we comply that all use is for
  <a class="link" href="https://dev.elsevier.com/academic_research_scopus.html" target="_blank"
    rel="nofollow noopener noreferrer" aria-label="Scopus Academic Research Use Case">non-commercial academic
    research</a>
  and is subject to the right
  <a class="link" href="https://mauprogramador.github.io/scopus-survey-api/legal-use-and-data-source/" target="_blank"
    rel="terms-of-service noopener noreferrer">Terms and Policies</a>.
</p>
{% else %}
<!-- cSpell:disable -->
<h3 id="info-title-2">Fonte de Dados</h3>
<p id="info-desc-2">
  Todos os dados que utilizamos são obtidos <strong>"TAL COMO ESTÂO"</strong> da
  <a class="link" href="https://www.scopus.com" target="_blank" rel="nofollow noopener noreferrer"
    translate="no">Scopus</a>®,
  mantida pela
  <a class="link" href="https://www.elsevier.com/pt-br" target="_blank" rel="nofollow noopener noreferrer"
    translate="no">Elsevier B.V.</a>
  <strong>Não há qualquer endosso implícito por parte dos detentores dos direitos autorais</strong> e concordamos que
  todo o uso se destina à
  <a class="link" href="https://dev.elsevier.com/academic_research_scopus.html" target="_blank"
    rel="nofollow noopener noreferrer" aria-label="Caso de Uso de Pesquisa Acadêmica da Scopus">pesquisa acadêmica não
    comercial</a>
  e está sujeito aos
  <a class="link" href="https://mauprogramador.github.io/scopus-survey-api/legal-use-and-data-source/" target="_blank"
    rel="terms-of-service noopener noreferrer">Termos e Políticas</a>
  aplicáveis.
</p>
{% endif %}
