{% if lang == 'en-US' %}
<h3 id="info-title-1">Overview</h3>
<p id="info-desc-1">
  This web
  <abbr aria-label="Application Programming Interface" lang="en-US" data-bs-toggle="tooltip"
    data-bs-title="Application Programming Interface">API</abbr>
  is designed to perform
  <strong>systematic bibliographic surveys</strong> by querying the
  <a class="link" href="https://www.elsevier.com/products/scopus" target="_blank"
    rel="nofollow noopener noreferrer">Scopus database</a>
  through its
  <a class="link" href="https://dev.elsevier.com/sc_apis.html" target="_blank"
    rel="nofollow noopener noreferrer">APIs</a>,
  to gather, validate, and filter the retrieved
  <a class="link" href="https://en.wikipedia.org/wiki/Bibliometrics" target="_blank"
    rel="nofollow noopener noreferrer">bibliometric data</a>
  into a
  <abbr aria-label="Comma-separated Values" lang="en-US" data-bs-toggle="tooltip"
    data-bs-title="Comma-separated Values">CSV</abbr>
  file for studies, theses, research,
  <a class="link" href="https://en.wikipedia.org/wiki/Systematic_review" target="_blank"
    rel="nofollow noopener noreferrer">systematic reviews</a>,
  etc. It is primarily intended for
  <a class="link" href="https://dev.elsevier.com/academic_research_scopus.html" target="_blank"
    rel="nofollow noopener noreferrer" aria-label="Scopus Academic Research Use Case">free academic
    use</a>
  by students and researchers, thus promoting access to <strong>relevant and high-quality bibliographic
    sources</strong>, allowing them to quickly gather a set of
  <a class="link" href="https://en.wikipedia.org/wiki/Peer_review" target="_blank"
    rel="nofollow noopener noreferrer">peer-reviewed</a>
  literature sources through a web form.
</p>
{% else %}
<!-- cSpell:disable -->
<h3 id="info-title-1">Visão Geral</h3>
<p id="info-desc-1">
  Esta
  <abbr aria-label="Application Programming Interface" lang="en-US" data-bs-toggle="tooltip"
    data-bs-title="Application Programming Interface">API</abbr>
  da web foi projetada para realizar <strong>levantamentos bibliográficos sistemáticos</strong> consultando a
  <a class="link" href="https://www.elsevier.com/pt-br/products/scopus" target="_blank"
    rel="nofollow noopener noreferrer">base de dados Scopus</a>
  por meio de suas
  <a class="link" href="https://dev.elsevier.com/sc_apis.html" target="_blank"
    rel="nofollow noopener noreferrer">APIs</a>,
  para coletar, validar e filtrar os
  <a class="link" href="https://pt.wikipedia.org/wiki/Bibliometria" target="_blank"
    rel="nofollow noopener noreferrer">dados bibliométricos</a>
  retornados em um arquivo
  <abbr aria-label="Comma-separated Values" lang="en-US" data-bs-toggle="tooltip"
    data-bs-title="Comma-separated Values">CSV</abbr>
  para estudos, teses, pesquisas,
  <a class="link" href="https://pt.wikipedia.org/wiki/Revis%C3%A3o_sistem%C3%A1tica" target="_blank"
    rel="nofollow noopener noreferrer">revisões sistemáticas</a>,
  etc. Destina-se principalmente ao
  <a class="link" href="https://dev.elsevier.com/academic_research_scopus.html" target="_blank"
    rel="nofollow noopener noreferrer" aria-label="Caso de Uso de Pesquisa Acadêmica da Scopus">uso acadêmico
    gratuito</a>
  por estudantes e pesquisadores, promovendo assim o acesso a <strong>fontes bibliográficas relevantes e de alta
    qualidade</strong>, permitindo-lhes reunir rapidamente um conjunto de fontes de literatura
  <a class="link" href="https://pt.wikipedia.org/wiki/Revis%C3%A3o_por_pares" target="_blank"
    rel="nofollow noopener noreferrer">revisadas por pares</a>
  por meio de um formulário web.
</p>
{% endif %}
