<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/feedback.css" />
    <title>Scopus Searcher API</title>
  </head>

  <body>
    <a hidden id="download-link"></a>
    <span hidden id="language-toggle" class="language show"></span>
    <span hidden id="token">{{ token }}</span>
    <div class="banners-container">
      <div class="banners">
        <div id="success-feedback" class="banner success">
          <div class="banner-icon background-image"></div>
          <div class="banner-message">Articles found successfully!</div>
          <div class="banner-close background-image"></div>
        </div>
        <div id="error-feedback" class="banner error">
          <div class="banner-icon background-image"></div>
          <div class="banner-message">Something went wrong!</div>
          <div class="banner-close background-image"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <header>
        <div class="title">
          <h1 translate="no">Scopus Searcher API <span class="version">v1.0.0</span></h1>
          <p class="language show">
            API for bibliographic survey of Scopus articles
          </p>
          <p class="language">
            API para levantamento bibliográfico de artigos da Scopus
          </p>
        </div>
        <nav aria-label="language Button and Swagger Link">
          <button id="language-button" title="Language" class="background-image show"></button>
          <a href="http://127.0.0.1:8000" target="_blank" translate="no" class="link">
            Swagger FastAPI
            <div id="open-in-new-tab-icon" class="background-image"></div>
          </a>
        </nav>
      </header>
      <main>
        <div class="institution">
          <p translate="no">
            Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso
            do Sul - Três Lagoas
          </p>
          <p translate="no">
            Tecnologia em Análise e Desenvolvimento de Sistemas - TADS
          </p>
        </div>
        <form id="scopus-api-form-data" action="#" method="get"
          enctype="application/x-www-form-urlencoded">
          <section class="Keywords-section">
            <h2 class="language show">Keywords</h2>
            <h2 class="language">Palavras-chave</h2>
            <p class="language show">
              Each keyword can contain letters, numbers, underscores, and
              spaces, from 2 to 120 characters.
            </p>
            <p class="language">
              Cada palavra-chave pode conter letras, números, sublinhados e
              espaços, de 2 a 120 caracteres.
            </p>
            <div class="fields">
              <input id="keyword1" name="keywords" type="text" placeholder="Ex.: Python" minlength="2" maxlength="120"
                pattern="^[a-zA-Z0-9_ ]{2,120}$" autocomplete="off" required />
              <input id="keyword2" name="keywords" type="text" placeholder="Ex.: Machine Learning" minlength="2"
                maxlength="120" pattern="^[a-zA-Z0-9_ ]{2,120}$" autocomplete="off" required />
              <input id="keyword3" name="keywords" type="text" placeholder="Ex.: Data Science" minlength="2"
                maxlength="120" pattern="^(?:(?![ ]+$)[a-zA-Z0-9_ ]{2,120})?$" autocomplete="off" />
              <input id="keyword4" name="keywords" type="text" placeholder="Ex.: Neural Networks" minlength="2"
                maxlength="120" pattern="^(?:(?![ ]+$)[a-zA-Z0-9_ ]{2,120})?$" autocomplete="off" />
            </div>
          </section>
          <section class="apikey-section">
            <div class="apikey-container">
              <h2 translate="no">API Key</h2>
              <p class="language show">
                It is required to access the
                <a translate="no" href="https://dev.elsevier.com/documentation/SCOPUSSearchAPI.wadl" target="_blank"
                  class="link">Scopus Search API</a>
                to search for articles. You can obtain a key by accessing the
                <a class="link" href="https://dev.elsevier.com/" target="_blank">Elsevier Portal</a>.
              </p>
              <p class="language">
                É necessária para acessar a
                <a translate="no" href="https://dev.elsevier.com/documentation/SCOPUSSearchAPI.wadl" target="_blank"
                  class="link">Scopus Search API</a>
                para pesquisar artigos. Você pode obter uma chave acessando o
                <a class="link" href="https://dev.elsevier.com/" target="_blank">Portal Elsevier</a>.
              </p>
              <div class="fields">
                <input id="apikey" name="apikey" type="text" placeholder="Ex.: 439f55d263c..." minlength="32"
                  maxlength="32" pattern="^[a-zA-Z0-9]{32}$" autocomplete="off" required />
              </div>
            </div>
            <div class="search-button-container">
              <button type="submit" class="submit-button language show">
                Search Articles
              </button>
              <button type="submit" class="submit-button language">
                Procurar Artigos
              </button>
              <div id="loader"></div>
            </div>
          </section>
        </form>
      </main>
      <footer>
        <p translate="no">
          Copyright © 2024 GPL v1.0.0. All rights reserved. Developed by
          <a href="mailto:sir.silvabmauricio@gmail.com?subject=Hello. Let's talk." class="link">MauProgramador</a>
        </p>
        <nav aria-label="Institution and Github Links">
          <a class="background-image ifms-link" href="https://www.ifms.edu.br/campi/campus-tres-lagoas"
            target="_blank"></a>
          <a class="background-image git-link" href="https://github.com/mauprogramador/scopus-searcher-api" target="_blank"></a>
        </nav>
      </footer>
    </div>
    <script src="/scripts/language.js" type="text/javascript"></script>
    <script src="/scripts/validation.js" type="text/javascript"></script>
    <script src="/scripts/process.js" type="text/javascript"></script>
  </body>

</html>
