.banners-container {
  position: fixed;
  width: 100vw;
  top: 0;
}
.banners {
  margin: 50px auto;
  width: 900px;
}
.banner {
  font-weight: 700;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  color: var(--white);
}
.banner-icon {
  width: 30px;
  height: 30px;
}
#success-feedback .banner-icon {
  background-image: url('/svgs/success.svg');
}
#error-feedback .banner-icon {
  background-image: url('/svgs/error.svg');
}
.banner-message {
  flex: 1;
  padding: 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.banner-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  width: 25px;
  height: 25px;
  background-image: url('/svgs/close.svg');
}
.banner-close:hover {
  background-color: var(--close-bg);
}
.banner.success {
  background-color: var(--success-bg);
  border-color: var(--success-bc);
}
.banner.error {
  background-color: var(--error-bg);
  border-color: var(--error-bc);
}
.banner:not(.visible) {
  display: none;
  transform: translateY(-100%);
}
.banner.visible {
  box-shadow: 0 2px 2px 2px var(--banner-bs);
  animation-name: banner-in;
  animation-direction: normal;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes banner-in {
  0% {transform: translateY(-100%);}
  50% {transform: translateY(10%);}
  100% {transform: translateY(0);}
}

.disable-button {
  pointer-events: none;
  opacity: 0.7;
}
.submit-button.disable-button {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}
.table-button.disable-button {
  background-color: var(--disable) !important;
  border-color: var(--disable) !important;
}
#loader {
  display: none;
  position: absolute;
  content: "";
  border: 5px solid var(--loader-bc);
  border-top: 5px solid var(--gray-3);
  border-radius: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 7px var(--black);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
