:root {
  --orange: #E9711C;
  --blue: #007398;
  --dark-orange: #B16129;
  --dark-blue: #265A88;
  --gray-32: #323232;
  --gray-50: #505050;
  --gray-70: #707070;
  --gray-5: #555;
  --gray-3: #333;
  --white: #FFF;
  --black: #000;
  --input-bg: #F5F5F5;
  --success-bg: #3B8754;
  --success-bc: #A3CFBB;
  --error-bg: #DD4145;
  --error-bc: #F1AEB5;
  --close-bg: rgba(0, 0, 0, 0.1);
  --banner-bs: rgba(0, 0, 0, 0.12);
  --disable: #9999AA;
  --loader-bc: #F3F3F3;
  --table-bc: #DCDCDC;
  --table-even: #F9F9F9;
  --table-hover: rgba(0, 0, 0, 0.075);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--gray-3);
}

.language {
  display: none;
}
.show {
  display: block !important;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.valid {
  border-color: var(--success-bc) !important;
  outline: 3px solid var(--success-bg) !important;
}
.invalid {
  border-color: var(--error-bc) !important;
  outline: 3px solid var(--error-bg) !important;
}
