body {
  background-color: var(--white);
}
.no-file-message {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
caption {
  font-size: 26px;
  color: var(--gray-32);
  margin-bottom: 20px;
}

th {
  color: var(--gray-50);
  border-bottom: 2px solid var(--dark-blue);
  padding: 8px;
  text-align: left;
}
td {
  color: var(--gray-50);
  padding: 12px 8px;
  border-bottom: 1px solid var(--table-bc);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
tfoot td {
  font-weight: bold;
  border-top: 2px solid var(--dark-blue);
  border-bottom: 0;
}

tr:nth-child(even) {
  background-color: var(--table-even);
}
tbody tr:hover {
  background-color: var(--table-hover);
}

#index-column {
  width: 2%;
}
#url-column {
  width: 4%;
}
#scopus-id-column {
  width: 6%;
}
#authors-column {
  width: 10%;
}
#title-column {
  width: 40%;
}
#publication-name-column {
  width: 10%;
}
#abstract-column {
  width: 10%;
}
#volume-column {
  width: 4%;
}
#date-column {
  width: 6%;
}
#doi-column {
  width: 3%;
}
#citations-column {
  width: 5%;
}
