<article class="container mt-4 pt-0" aria-labelledby="step-2-title" aria-describedby="step-2-desc">
  {{partial_steps.step2()}}
  <hr class="mt-2 mb-5" aria-hidden="true">
  <div class="row row-cols-1 row-cols-lg-2 align-items-end">

    <section class="col pe-lg-5 text-group mb-5" aria-labelledby="date-title" aria-describedby="date-desc">
      {{partial_fields.date_range()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
            </svg>
          </span>
          <input id="startyear" class="form-control combfield" name="startYear" form="survey-form" type="number"
            min="2015" max="2025" step="1" data-checked="false" autocomplete="on"
            placeholder="{{_t('start_year.placeholder')}}" inputmode="numeric" aria-invalid="false"
            aria-required="false" aria-labelledby="date-title" aria-describedby="date-desc" aria-details="date-help"
            aria-errormessage="date-feedback">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
            </svg>
          </span>
          <input id="endyear" class="form-control combfield" name="endYear" form="survey-form" type="number" min="2015"
            max="2025" step="1" data-checked="false" autocomplete="on" placeholder="{{_t('end_year.placeholder')}}"
            inputmode="numeric" aria-invalid="false" aria-required="false" aria-labelledby="date-title"
            aria-describedby="date-desc" aria-details="date-help" aria-errormessage="date-feedback">
        </div>
        <div id="date-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="date-help" class="field-help">{{_t('date_range.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" aria-labelledby="doctype-title" aria-describedby="doctype-desc">
      {{partial_fields.doctype()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
            </svg>
          </span>
          <select id="doctype" class="form-select combfield" name="docType" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="doctype-title" aria-describedby="doctype-desc" aria-details="doctype-help"
            aria-errormessage="doctype-feedback">
            {{partial_values.doctype()}}
          </select>
        </div>
        <div id="doctype-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="doctype-help" class="field-help">{{_t('doctype.help')}}</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5" aria-labelledby="pubstage-title" aria-describedby="pubstage-desc">
      {{partial_fields.pubstage()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M120-240q-33 0-56.5-23.5T40-320q0-33 23.5-56.5T120-400h10.5q4.5 0 9.5 2l182-182q-2-5-2-9.5V-600q0-33 23.5-56.5T400-680q33 0 56.5 23.5T480-600q0 2-2 20l102 102q5-2 9.5-2h21q4.5 0 9.5 2l142-142q-2-5-2-9.5V-640q0-33 23.5-56.5T840-720q33 0 56.5 23.5T920-640q0 33-23.5 56.5T840-560h-10.5q-4.5 0-9.5-2L678-420q2 5 2 9.5v10.5q0 33-23.5 56.5T600-320q-33 0-56.5-23.5T520-400v-10.5q0-4.5 2-9.5L420-522q-5 2-9.5 2H400q-2 0-20-2L198-340q2 5 2 9.5v10.5q0 33-23.5 56.5T120-240Z" />
            </svg>
          </span>
          <select id="pubstage" class="form-select combfield" name="pubStage" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="pubstage-title" aria-describedby="pubstage-desc" aria-details="pubstage-help"
            aria-errormessage="pubstage-feedback">
            {{partial_values.pubstage()}}
          </select>
        </div>
        <div id="pubstage-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="pubstage-help" class="field-help">{{_t('pubstage.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" aria-labelledby="language-title" aria-describedby="language-desc">
      {{partial_fields.language()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="m476-80 182-480h84L924-80h-84l-43-122H603L560-80h-84ZM160-200l-56-56 202-202q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H40v-80h280v-80h80v80h280v80H564q-21 72-63 148t-83 116l96 98-30 82-122-125-202 201Zm468-72h144l-72-204-72 204Z" />
            </svg>
          </span>
          <input id="language" class="form-control combfield" name="language" form="survey-form" type="text"
            list="common-languages" minlength="3" maxlength="30" size="30" pattern="[a-z '\-]{3,30}"
            data-checked="false" spellcheck="true" autocomplete="on" placeholder="{{_t('language.placeholder')}}"
            inputmode="text" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="language-title" aria-describedby="language-desc" aria-details="language-help"
            aria-errormessage="language-feedback">
          <datalist id="common-languages">
            <option value="chinese">chinese</option>
            <option value="english">english</option>
            <option value="french">french</option>
            <option value="german">german</option>
            <option value="indian">indian</option>
            <option value="italian">italian</option>
            <option value="japanese">japanese</option>
            <option value="korean">korean</option>
            <option value="portuguese">portuguese</option>
            <option value="russian">russian</option>
            <option value="spanish">spanish</option>
          </datalist>
        </div>
        <div id="language-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="language-help" class="field-help">{{_t('language.help')}}</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5" aria-labelledby="openaccess-title" aria-describedby="openaccess-desc">
      {{partial_fields.open_access()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true">
              <path
                d="M12,13a1.49,1.49,0,0,0-1,2.61V17a1,1,0,0,0,2,0V15.61A1.49,1.49,0,0,0,12,13Zm5-4H9V7a3,3,0,0,1,5.12-2.13,3.08,3.08,0,0,1,.78,1.38,1,1,0,1,0,1.94-.5,5.09,5.09,0,0,0-1.31-2.29A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9Zm1,10a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" />
            </svg>
          </span>
          <select id="openaccess" class="form-select combfield" name="openAccess" form="survey-form"
            data-checked="false" autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="openaccess-title" aria-describedby="openaccess-desc" aria-details="openaccess-help"
            aria-errormessage="openaccess-feedback">
            {{partial_values.open_access()}}
          </select>
        </div>
        <div id="openaccess-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="openaccess-help" class="field-help">{{_t('open_access.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" aria-labelledby="srctype-title" aria-describedby="srctype-desc">
      {{partial_fields.srctype()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
            </svg>
          </span>
          <select id="srctype" class="form-select combfield" name="srcType" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="srctype-title" aria-describedby="srctype-desc" aria-details="srctype-help"
            aria-errormessage="srctype-feedback">
            {{partial_values.srctype()}}
          </select>
        </div>
        <div id="srctype-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="srctype-help" class="field-help">{{_t('srctype.help')}}</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5 mb-lg-0" aria-labelledby="subjarea-title"
      aria-describedby="subjarea-desc">
      {{partial_fields.subjarea()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z" />
            </svg>
          </span>
          <select id="subjarea" class="form-select combfield" name="subjArea" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="subjarea-title" aria-describedby="subjarea-desc" aria-details="subjarea-help"
            aria-errormessage="subjarea-feedback">
            {{partial_values.subjarea()}}
          </select>
        </div>
        <div id="subjarea-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="subjarea-help" class="field-help">{{_t('subjarea.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group" aria-labelledby="pages-title" aria-describedby="pages-desc">
      {{partial_fields.pages()}}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true">
              <g>
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M17 21v-4H7v4H5v-5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v5h-2zM7 3v4h10V3h2v5a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3h2zM2 9l4 3-4 3V9zm20 0v6l-4-3 4-3z" />
              </g>
            </svg>
          </span>
          <select id="pages" class="form-select combfield" name="pages" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="pages-title" aria-describedby="pages-desc" aria-details="pages-help"
            aria-errormessage="pages-feedback">
            {{partial_values.pages()}}
          </select>
        </div>
        <div id="pages-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="pages-help" class="field-help">{{_t('pages.help')}}</div>
      </div>
    </section>

  </div>
</article>
