<article class="container mt-4 pt-0" aria-labelledby="step-1-title" aria-describedby="step-1-desc">
  <h3 id="step-1-title" class="step-badge">STEP 2 - Additional params</h3>
  <p id="step-1-desc" class="mb-0 mt-4">
    The fields below can be submitted via the <strong>"query"</strong> query parameter, allowing a <strong>Boolean
      search combining fields with the AND operator</strong> to be performed on the <strong>Scopus cluster</strong> and
    produce more relevant results. <strong>Optional fields left unfilled will not be sent by default</strong>. See the
    <a class="link" href="https://dev.elsevier.com/sc_search_tips.html" target="_blank"
      rel="help nofollow noopener noreferrer">Scopus Search Guide</a>.
  </p>
  <hr class="w-50 mx-auto mt-2 mb-5 text-success opacity-50" aria-hidden="true">
  <div class="row row-cols-1 row-cols-lg-2 align-items-end">

    <section class="col pe-lg-5 text-group mb-5" role="region" aria-labelledby="date-title"
      aria-describedby="date-desc">
      <h4 id="date-title">
        Date
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="date-desc">
        The range of years, from the <strong>last ten years</strong> to the <strong>current year</strong>, as the
        target of interest of published articles. <strong>Default to the last three years</strong>.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
            </svg>
          </span>
          <input id="startyear" class="form-control combfield" name="startYear" form="survey-form" type="number"
            min="2015" max="2025" step="1" size="4" data-checked="false" autocomplete="on" placeholder="Start Year"
            inputmode="numeric" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="date-title" aria-describedby="date-desc" aria-details="date-help"
            aria-errormessage="date-feedback" />
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
            </svg>
          </span>
          <input id="endyear" class="form-control combfield" name="endYear" form="survey-form" type="number" min="2015"
            max="2025" step="1" size="4" data-checked="false" autocomplete="on" placeholder="End Year"
            inputmode="numeric" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="date-title" aria-describedby="date-desc" aria-details="date-help"
            aria-errormessage="date-feedback" />
        </div>
        <div id="date-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="date-help" class="field-help">e.g. 2014 - 2024</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" role="region" aria-labelledby="doctype-title"
      aria-describedby="doctype-desc">
      <h4 id="doctype-title">
        Doctype
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="doctype-desc">
        The <strong>type</strong> in which the document is <strong>classified</strong>.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
            </svg>
          </span>
          <select id="doctype" class="form-select combfield" name="docType" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="doctype-title" aria-describedby="doctype-desc" aria-details="doctype-help"
            aria-errormessage="doctype-feedback">
            <option value="" selected>Document Type</option>
            <option value="ar">Article</option>
            <option value="ab">Abstract Report</option>
            <option value="bk">Book</option>
            <option value="bz">Business Article</option>
            <option value="ch">Book Chapter</option>
            <option value="cp">Conference Paper</option>
            <option value="cr">Conference Review</option>
            <option value="ed">Editorial</option>
            <option value="er">Erratum</option>
            <option value="le">Letter</option>
            <option value="no">Note</option>
            <option value="pr">Press Release</option>
            <option value="re">Review</option>
            <option value="sh">Short Survey</option>
          </select>
        </div>
        <div id="doctype-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="doctype-help" class="field-help">e.g. Article</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5" role="region" aria-labelledby="pubstage-title"
      aria-describedby="pubstage-desc">
      <h4 id="pubstage-title">
        Pubstage
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="pubstage-desc">The <strong>publication stage</strong> of the document.</p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M120-240q-33 0-56.5-23.5T40-320q0-33 23.5-56.5T120-400h10.5q4.5 0 9.5 2l182-182q-2-5-2-9.5V-600q0-33 23.5-56.5T400-680q33 0 56.5 23.5T480-600q0 2-2 20l102 102q5-2 9.5-2h21q4.5 0 9.5 2l142-142q-2-5-2-9.5V-640q0-33 23.5-56.5T840-720q33 0 56.5 23.5T920-640q0 33-23.5 56.5T840-560h-10.5q-4.5 0-9.5-2L678-420q2 5 2 9.5v10.5q0 33-23.5 56.5T600-320q-33 0-56.5-23.5T520-400v-10.5q0-4.5 2-9.5L420-522q-5 2-9.5 2H400q-2 0-20-2L198-340q2 5 2 9.5v10.5q0 33-23.5 56.5T120-240Z" />
            </svg>
          </span>
          <select id="pubstage" class="form-select combfield" name="pubStage" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="pubstage-title" aria-describedby="pubstage-desc" aria-details="pubstage-help"
            aria-errormessage="pubstage-feedback">
            <option value="" selected>Publication Stage</option>
            <option value="aip">Article in Press</option>
            <option value="final">Final Document</option>
          </select>
        </div>
        <div id="pubstage-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="pubstage-help" class="field-help">e.g. Final Document</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" role="region" aria-labelledby="language-title"
      aria-describedby="language-desc">
      <h4 id="language-title">
        Language
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="language-desc">
        The <strong>language</strong> (in <strong>English</strong>) in which the original document was
        <strong>written</strong>.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="m476-80 182-480h84L924-80h-84l-43-122H603L560-80h-84ZM160-200l-56-56 202-202q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H40v-80h280v-80h80v80h280v80H564q-21 72-63 148t-83 116l96 98-30 82-122-125-202 201Zm468-72h144l-72-204-72 204Z" />
            </svg>
          </span>
          <input id="language" class="form-control combfield" name="language" form="survey-form" type="text"
            list="common-languages" minlength="3" maxlength="30" size="30" pattern="[a-z \-]{3,30}"
            data-checked="false" spellcheck="true" autocomplete="on" placeholder="Language" inputmode="text"
            aria-invalid="false" aria-required="false" aria-autocomplete="both" aria-labelledby="language-title"
            aria-describedby="language-desc" aria-details="language-help" aria-errormessage="language-feedback" />
          <datalist id="common-languages">
            <option value="english">english</option>
            <option value="spanish">spanish</option>
            <option value="french">french</option>
            <option value="german">german</option>
            <option value="portuguese">portuguese</option>
            <option value="japanese">japanese</option>
            <option value="chinese">chinese</option>
          </datalist>
        </div>
        <div id="language-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="language-help" class="field-help">e.g. english</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5" role="region" aria-labelledby="openaccess-title"
      aria-describedby="openaccess-desc">
      <h4 id="openaccess-title">
        Open Access
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="openaccess-desc">
        Whether the indexed content is <strong>open access</strong> or <strong>not</strong>.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M12,13a1.49,1.49,0,0,0-1,2.61V17a1,1,0,0,0,2,0V15.61A1.49,1.49,0,0,0,12,13Zm5-4H9V7a3,3,0,0,1,5.12-2.13,3.08,3.08,0,0,1,.78,1.38,1,1,0,1,0,1.94-.5,5.09,5.09,0,0,0-1.31-2.29A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9Zm1,10a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" />
            </svg>
          </span>
          <select id="openaccess" class="form-select combfield" name="openAccess" form="survey-form"
            data-checked="false" autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="openaccess-title" aria-describedby="openaccess-desc" aria-details="openaccess-help"
            aria-errormessage="openaccess-feedback">
            <option value="" selected>Access</option>
            <option value="1">Open Access</option>
            <option value="0">Subscription-based</option>
          </select>
        </div>
        <div id="openaccess-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="openaccess-help" class="field-help">e.g. Open Access</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group mb-5" role="region" aria-labelledby="srctype-title"
      aria-describedby="srctype-desc">
      <h4 id="srctype-title">
        Srctype
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="srctype-desc">The <strong>type of source</strong> the document comes from.</p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
            </svg>
          </span>
          <select id="srctype" class="form-select combfield" name="srcType" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="srctype-title" aria-describedby="srctype-desc" aria-details="srctype-help"
            aria-errormessage="srctype-feedback">
            <option value="" selected>Source Type</option>
            <option value="j">Journal</option>
            <option value="b">Book</option>
            <option value="k">Book Series</option>
            <option value="p">Conference Proceeding</option>
            <option value="r">Report</option>
            <option value="d">Trade Publication</option>
          </select>
        </div>
        <div id="srctype-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="srctype-help" class="field-help">e.g. Journal</div>
      </div>
    </section>

    <section class="col pe-lg-5 text-group mb-5 mb-lg-0" role="region" aria-labelledby="subjarea-title"
      aria-describedby="subjarea-desc">
      <h4 id="subjarea-title">
        Subjarea
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="subjarea-desc">
        The <strong>subject area</strong> in which the document is classified.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z" />
            </svg>
          </span>
          <select id="subjarea" class="form-select combfield" name="subjArea" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="subjarea-title" aria-describedby="subjarea-desc" aria-details="subjarea-help"
            aria-errormessage="subjarea-feedback">
            <option value="" selected>Subject Area</option>
            <option value="AGRI">Agricultural and Biological Sciences</option>
            <option value="ARTS">Arts and Humanities</option>
            <option value="BIOC">Biochemistry, Genetics and Molecular Biology</option>
            <option value="BUSI">Business, Management and Accounting</option>
            <option value="CENG">Chemical Engineering</option>
            <option value="CHEM">Chemistry</option>
            <option value="COMP">Computer Science</option>
            <option value="DECI">Decision Sciences</option>
            <option value="DENT">Dentistry</option>
            <option value="EART">Earth and Planetary Sciences</option>
            <option value="ECON">Economics, Econometrics and Finance</option>
            <option value="ENER">Energy</option>
            <option value="ENGI">Engineering</option>
            <option value="ENVI">Environmental Science</option>
            <option value="HEAL">Health Professions</option>
            <option value="IMMU">Immunology and Microbiology</option>
            <option value="MATE">Materials Science</option>
            <option value="MATH">Mathematics</option>
            <option value="MEDI">Medicine</option>
            <option value="NEUR">Neuroscience</option>
            <option value="NURS">Nursing</option>
            <option value="PHAR">Pharmacology, Toxicology and Pharmaceutics</option>
            <option value="PHYS">Physics and Astronomy</option>
            <option value="PSYC">Psychology</option>
            <option value="SOCI">Social Sciences</option>
            <option value="VETE">Veterinary</option>
            <option value="MULT">Multidisciplinary</option>
          </select>
        </div>
        <div id="subjarea-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="subjarea-help" class="field-help">e.g. Computer Science</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group" role="region" aria-labelledby="pages-title" aria-describedby="pages-desc">
      <h4 id="pages-title">
        Pages
        <span class="badge text-bg-secondary" aria-hidden="true">Optional</span>
      </h4>
      <p id="pages-desc">
        Whether the document is <strong>short</strong> (up to 4 pages, such as research notes) or <strong>full</strong>
        (5 or more pages), <strong>by page count</strong>.
      </p>
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <g>
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M17 21v-4H7v4H5v-5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v5h-2zM7 3v4h10V3h2v5a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3h2zM2 9l4 3-4 3V9zm20 0v6l-4-3 4-3z" />
              </g>
            </svg>
          </span>
          <select id="pages" class="form-select combfield" name="pages" form="survey-form" data-checked="false"
            autocomplete="on" aria-invalid="false" aria-required="false" aria-autocomplete="both"
            aria-labelledby="pages-title" aria-describedby="pages-desc" aria-details="pages-help"
            aria-errormessage="pages-feedback">
            <option value="" selected>Pages</option>
            <option value="SHORT">Short papers</option>
            <option value="LONG">Full papers</option>
          </select>
        </div>
        <div id="pages-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden>
        </div>
        <div id="pages-help" class="field-help">e.g. Full papers</div>
      </div>
    </section>

  </div>
</article>
