<article class="container mt-4 pt-0" aria-labelledby="step-1-title" aria-describedby="step-1-desc">
  {{ partial_steps.step1() }}
  <hr class="mt-2 mb-5" aria-hidden="true">
  <div class="row row-cols-1 row-cols-lg-2 align-items-end">

    <section class="col pe-lg-5 text-group mb-5 mb-lg-0" aria-labelledby="apikey-title" aria-describedby="apikey-desc">
      {{ partial_fields.api_key() }}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z" />
            </svg>
          </span>
          <input id="apikey" class="form-control combfield" name="apiKey" form="survey-form" type="text" required
            minlength="32" maxlength="32" size="32" pattern="[a-zA-Z0-9]{32}" data-checked="false" spellcheck="false"
            autocomplete="on" placeholder="{{_t('api_key.placeholder')}}" inputmode="text" aria-invalid="false"
            aria-autocomplete="both" aria-labelledby="apikey-title" aria-describedby="apikey-desc"
            aria-details="apikey-help" aria-errormessage="apikey-feedback">
        </div>
        <div id="apikey-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="apikey-help" class="field-help">{{_t('api_key.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group" aria-labelledby="prevsurvey-title" aria-describedby="prevsurvey-desc">
      {{ partial_fields.prev_survey() }}
      <div class="field-container">
        <div class="field-wrapper">
          <button id="prevsurvey-button" class="btn btn-scopus text-nowrap col-12 col-md-auto" type="button"
            name="button" value="previous" form="survey-form" formaction="{{prefix}}/api/csv" disabled
            aria-disabled="true" aria-details="prevsurvey-help" aria-errormessage="prevsurvey-feedback"
            aria-live="polite" aria-busy="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
            {{_t('prev_survey_btn')}}
          </button>
        </div>
        <div id="prevsurvey-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="prevsurvey-help" class="field-help">{{_t('prev_survey_btn.help')}}</div>
      </div>
    </section>
  </div>

  <div class="callout mt-4 d-flex align-items-center" role="note">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="flex-shrink-0" aria-hidden="true">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    {% if lang == 'en-US' %}
    <p class="ms-2">
      As the
      <abbr data-bs-toggle="tooltip" data-bs-title="Comma-separated Values" lang="en-US">CSV</abbr>
      file is saved with the <strong>API Key in its name</strong> (e.g. 439f55d263cj..._docs.csv), it can be
      <strong>overwritten</strong> by other surveys using the same one.
    </p>
    {% else %}
    <p class="ms-2">
      Por favor, utilize uma
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">rede institucional</a>
      para autenticar corretamente e esteja ciente dos
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">limites de cota e taxa</a>
      da sua <strong>Chave de API</strong>.
    </p>
    {% endif %}
  </div>
</article>
