<article class="container mt-4 pt-0" aria-labelledby="step-1-title" aria-describedby="step-1-desc">
  {{ partial_steps.step1() }}
  <hr class="w-50 mx-auto mt-2 mb-5 text-success opacity-50" aria-hidden="true">
  <div class="row row-cols-1 row-cols-lg-2 align-items-end">

    <section class="col pe-lg-5 text-group mb-5 mb-lg-0" role="region" aria-labelledby="apikey-title"
      aria-describedby="apikey-desc">
      {{ partial_fields.api_key() }}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z" />
            </svg>
          </span>
          <input id="apikey" class="form-control combfield" name="apiKey" form="survey-form" type="text" required
            minlength="32" maxlength="32" size="32" pattern="[a-zA-Z0-9]{32}" data-checked="false" spellcheck="false"
            autocomplete="on" placeholder="{{_t('api_key.placeholder')}}" inputmode="text" aria-invalid="false"
            aria-required="true" aria-autocomplete="both" aria-labelledby="apikey-title" aria-describedby="apikey-desc"
            aria-details="apikey-help" aria-errormessage="apikey-feedback" />
        </div>
        <div id="apikey-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="apikey-help" class="field-help">{{_t('api_key.help')}}</div>
      </div>
    </section>

    <section class="col ps-lg-5 text-group" role="region" aria-labelledby="prevsurvey-title"
      aria-describedby="prevsurvey-desc">
      {{ partial_fields.prev_survey() }}
      <div class="field-container">
        <div class="field-wrapper">
          <button id="prevsurvey-button" class="btn btn-scopus text-nowrap col-12 col-md-auto" type="button"
            name="button" value="previous" form="survey-form" formaction="{{prefix}}/api/csv" disabled
            aria-disabled="true" aria-details="prevsurvey-help" aria-errormessage="prevsurvey-feedback"
            aria-live="polite" aria-busy="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true">
              <path
                d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
            {{_t('prev_survey_btn')}}
          </button>
        </div>
        <div id="prevsurvey-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="prevsurvey-help" class="field-help">{{_t('prev_survey_btn.help')}}</div>
      </div>
    </section>

  </div>
</article>
