<header>

  <div class="header__details" aria-label="{{header.T02}}">
    <div class="api__info">
      <h1 class="api__name">
        <a href="{{prefix}}/api/en-US/search-articles" rel="canonical" title="ScopusSurveyAPI" lang="{{lang}}"
          translate="no" tabindex="-1">ScopusSurveyAPI</a>
      </h1>
      <span class="api__version">
        <a class="link link-icon" href="https://github.com/mauprogramador/scopus-survey-api/releases/latest"
          target="_blank" rel="external" translate="no" title="{{header.T07}}" aria-label="{{header.T01}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M856-390 570-104q-12 12-27 18t-30 6q-15 0-30-6t-27-18L103-457q-11-11-17-25.5T80-513v-287q0-33 23.5-56.5T160-880h287q16 0 31 6.5t26 17.5l352 353q12 12 17.5 27t5.5 30q0 15-5.5 29.5T856-390ZM513-160l286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm220 160Z" />
          </svg>
          <span class="link-text">v{{version}}</span>
        </a>
      </span>
    </div>
    <p class="api__description" lang="{{lang}}">{{api_description}}</p>
  </div>

  <div class="header__navbar" aria-label="{{header.T03}}">
    <nav class="navbar__inner" aria-label="{{header.T03}}">
      <span class="api__version">
        <a class="link link-icon" href="https://github.com/mauprogramador/scopus-survey-api/releases/latest"
          target="_blank" rel="external" translate="no" title="{{header.T07}}" aria-label="{{header.T01}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M856-390 570-104q-12 12-27 18t-30 6q-15 0-30-6t-27-18L103-457q-11-11-17-25.5T80-513v-287q0-33 23.5-56.5T160-880h287q16 0 31 6.5t26 17.5l352 353q12 12 17.5 27t5.5 30q0 15-5.5 29.5T856-390ZM513-160l286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm220 160Z" />
          </svg>
          <span class="link-text">v{{version}}</span>
        </a>
      </span>
      <div class="language__container">
        <button id="language__button" class="icon-button" type="button" aria-pressed="false" aria-haspopup="menu"
          aria-owns="language__dropdown" aria-controls="language__dropdown" aria-label="{{header.T03}}"
          aria-expanded="false" title="{{header.T03}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="m476-80 182-480h84L924-80h-84l-43-122H603L560-80h-84ZM160-200l-56-56 202-202q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H40v-80h280v-80h80v80h280v80H564q-21 72-63 148t-83 116l96 98-30 82-122-125-202 201Zm468-72h144l-72-204-72 204Z" />
          </svg>
        </button>
        <menu id="language__dropdown" aria-label="{{header.T04}}" aria-orientation="vertical" aria-expanded="false">
          <li title="{{header.T05}}" aria-label="{{header.T05}}">
            <a class="link" href="{{prefix}}/api/pt-BR/search-articles" rel="alternate" lang="pt-BR"
              translate="no">Português (pt-BR)</a>
          </li>
          <li title="{{header.T06}}" aria-label="{{header.T06}}">
            <a class="link" href="{{prefix}}/api/en-US/search-articles" rel="alternate" lang="en-US"
              translate="no">English (en-US)</a>
          </li>
        </menu>
      </div>
    </nav>
  </div>

</header>
