<article class="container mt-2" aria-labelledby="info-title">
  <h2 id="info-title" hidden>{{_t('information')}}</h2>

  <div id="ifms-tads" class="py-2 mb-5" role="region" aria-label="{{_t('ifms_tads.albl')}}">
    <p class="d-flex justify-content-center align-items-baseline gap-1 m-0" aria-label="{{_t('institution.albl')}}"
      data-bs-toggle="tooltip" data-bs-title="{{_t('institution.title')}}">
      <small lang="pt-BR">Instituto Federal de</small>
      <small class="d-sm-block d-none" lang="pt-BR">Educação, Ciência e Tecnologia de</small>
      <small lang="pt-BR">Mato Grosso do Sul</small>
      <span class="d-md-block d-none px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link d-md-block d-none" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank"
        rel="nofollow noopener noreferrer" translate="no">
        <small lang="pt-BR">IFMS Campus Três Lagoas</small>
      </a>
    </p>
    <p class="d-flex justify-content-center align-items-baseline gap-1 m-0" aria-label="{{_t('course.albl')}}"
      data-bs-toggle="tooltip" data-bs-title="{{_t('course.title')}}">
      <small class="d-sm-block d-none" lang="pt-BR">Tecnologia em</small>
      <small lang="pt-BR">Análise e Desenvolvimento de Sistemas</small>
      <span class="d-md-block d-none px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link d-md-block d-none"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="nofollow noopener noreferrer" translate="no">
        <small lang="pt-BR">TADS</small>
      </a>
    </p>
    <p class="d-md-none d-flex justify-content-center align-items-baseline gap-1 m-0 mt-1"
      aria-label="{{_t('institution_course.albl')}}">
      <a class="link" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank"
        rel="nofollow noopener noreferrer" translate="no" data-bs-toggle="tooltip"
        data-bs-title="{{_t('institution.title')}}">
        <small lang="pt-BR">IFMS Três Lagoas</small>
      </a>
      <span class="px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="nofollow noopener noreferrer" translate="no" data-bs-toggle="tooltip"
        data-bs-title="{{_t('course.title')}}">
        <small lang="pt-BR">TADS</small>
      </a>
    </p>
  </div>

  <section class="text-group mb-5" role="region" aria-labelledby="info-title-1" aria-describedby="info-desc-1">
    {% include "partials/overview.html" %}
  </section>

  <section class="text-group mb-5" role="region" aria-labelledby="info-title-2" aria-describedby="info-desc-2">
    {% include "partials/data_source.html" %}
  </section>

  <section class="text-group mb-5" role="region" aria-labelledby="info-title-3" aria-describedby="info-desc-3">
    <h3 id="info-title-3">
      Institutional Network
      <span class="badge text-bg-danger" aria-hidden="true">Required</span>
    </h3>
    <p id="info-desc-3">
      Please be aware that the <strong>API Key</strong> will only authenticate correctly if you submit it while using
      your <strong>academic institution's network</strong>, which must be
      <a class="link" href="https://www.scopus.com/signin.uri" target="_blank"
        rel="nofollow noopener noreferrer">registered with Elsevier</a>.
      This does not include
      <abbr title="Virtual Private Network">VPN</abbr>
      or proxy access. Therefore, if you are <strong>fully remote</strong> and <strong>off-campus</strong>, some data
      may <strong>not be returned</strong>.
    </p>
  </section>

  <section class="text-group" role="region" aria-labelledby="info-title-4" aria-describedby="info-desc-4">
    <h3 id="info-title-4">
      Quota and Rate Limits
      <span class="badge text-bg-warning" aria-hidden="true">Important</span>
    </h3>
    <p id="info-desc-4">
      There's a <strong>maximum limit to the number of requests</strong> we can make to <a class="link"
        href="https://dev.elsevier.com/sc_apis.html" target="_blank" rel="nofollow noopener noreferrer">Scopus APIs</a>
      using your <strong>API Key</strong>. This <strong>request quota resets every seven days</strong>, and you can
      <strong>check its availability</strong> in the <strong>details panel after completing your survey</strong>. If
      requests <strong>exceed the quota or throttling rate</strong>, an <strong>error will be returned</strong>. See the
      <a class="link" href="https://dev.elsevier.com/api_key_settings.html" target="_blank"
        rel="help nofollow noopener noreferrer">API Key Settings</a>.
    </p>
  </section>

</article>
