<article class="container mt-2" aria-labelledby="info-title">
  <h2 id="info-title" hidden>{{_t('information')}}</h2>

  <div id="ifms-tads" class="py-2 mb-5" role="region" aria-label="{{_t('ifms_tads.albl')}}">
    <p class="d-flex justify-content-center align-items-baseline gap-1 m-0" aria-label="{{_t('institution.albl')}}"
      data-bs-toggle="tooltip" data-bs-title="{{_t('institution.title')}}">
      <small lang="pt-BR">Instituto Federal de</small>
      <small class="d-sm-block d-none" lang="pt-BR">Educação, Ciência e Tecnologia de</small>
      <small lang="pt-BR">Mato Grosso do Sul</small>
      <span class="d-md-block d-none px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link d-md-block d-none" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank"
        rel="nofollow noopener noreferrer" translate="no">
        <small lang="pt-BR">IFMS Campus Três Lagoas</small>
      </a>
    </p>
    <p class="d-flex justify-content-center align-items-baseline gap-1 m-0" aria-label="{{_t('course.albl')}}"
      data-bs-toggle="tooltip" data-bs-title="{{_t('course.title')}}">
      <small class="d-sm-block d-none" lang="pt-BR">Tecnologia em</small>
      <small lang="pt-BR">Análise e Desenvolvimento de Sistemas</small>
      <span class="d-md-block d-none px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link d-md-block d-none"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="nofollow noopener noreferrer" translate="no">
        <small lang="pt-BR">TADS</small>
      </a>
    </p>
    <p class="d-md-none d-flex justify-content-center align-items-baseline gap-1 m-0 mt-1"
      aria-label="{{_t('institution_course.albl')}}">
      <a class="link" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank"
        rel="nofollow noopener noreferrer" translate="no" data-bs-toggle="tooltip"
        data-bs-title="{{_t('institution.title')}}">
        <small lang="pt-BR">IFMS Três Lagoas</small>
      </a>
      <span class="px-1 opacity-50" role="separator" aria-hidden="true">&#8226;</span>
      <a class="link"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="nofollow noopener noreferrer" translate="no" data-bs-toggle="tooltip"
        data-bs-title="{{_t('course.title')}}">
        <small lang="pt-BR">TADS</small>
      </a>
    </p>
  </div>

  <section class="text-group mb-5" role="region" aria-labelledby="info-title-1" aria-describedby="info-desc-1">
    {% include "partials/overview.html" %}
  </section>

  <section class="text-group mb-5" role="region" aria-labelledby="info-title-2" aria-describedby="info-desc-2">
    {% include "partials/data_source.html" %}
  </section>

  <div class="callout d-flex align-items-center" role="note">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="flex-shrink-0" aria-hidden="true">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    {% if lang == 'en-US' %}
    <p class="ms-2">
      Please use an
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">institutional network</a>
      to authenticate correctly, and be aware of the
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">quota and rate limits</a>
      of your <strong>API Key</strong>.
    </p>
    {% else %}
    <p class="ms-2">
      Por favor, utilize uma
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">rede institucional</a>
      para autenticar corretamente e esteja ciente dos
      <a class="link" href="" target="_blank" rel="nofollow noopener noreferrer">limites de cota e taxa</a>
      da sua <strong>Chave de API</strong>.
    </p>
    {% endif %}
  </div>

</article>
