<meta name="application-name" content="{{title}}" lang="en-US">
<meta name="author" content="mauprogramador">
<meta name="description" content="{{_m('meta.description')}}">
<meta name="keywords" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="publisher" content="{{institution}}" lang="pt-BR">
<meta name="data-source" content="{{_m('meta.dataSource')}}">

<!-- RDFa [DC] -->
<meta property="dc:title" content="{{title}}" lang="en-US">
<meta property="dc:creator" content="{{_m('meta.author')}}" lang="pt-BR">
<meta property="dc:subject" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta property="dc:description" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta property="dc:publisher" content="{{institution}}" lang="pt-BR">
<meta property="dc:contributor" content="{{_m('meta.contributor')}}" lang="pt-BR">
<meta property="dc:date" content="{{date}}">
<meta property="dc:source" content="{{repository}}">
<meta property="dc:relation" content="{{documentation}}">
<meta property="dc:identifier" content="{{repository}}">
<meta property="dc:type" content="{{type}}">
<meta property="dc:format" content="{{format}}">
<meta property="dc:language" content="{{lang}}">
<meta property="dc:rights" content="{{_m('meta.copyright')}}" lang="{{lang}}">

<!-- RDFa [DCTERMS] -->
<meta property="dcterms:title" content="{{title}}" lang="en-US">
<meta property="dcterms:creator" content="{{_m('meta.author')}}" lang="pt-BR">
<meta property="dcterms:subject" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta property="dcterms:description" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta property="dcterms:abstract" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta property="dcterms:publisher" content="{{institution}}" lang="pt-BR">
<meta property="dcterms:contributor" content="{{_m('meta.contributor')}}" lang="pt-BR">
<meta property="dcterms:date" content="{{date}}">
<meta property="dcterms:created" content="{{created}}">
<meta property="dcterms:modified" content="{{modified}}">
<meta property="dcterms:source" content="{{repository}}">
<meta property="dcterms:relation" content="{{documentation}}">
<meta property="dcterms:softwareVersion" content="{{version}}">
<meta property="dcterms:identifier" content="{{repository}}/tree/v{{version}}">
<meta property="dcterms.isVersionOf" content="{{repository}}">
<meta property="dcterms:type" content="{{type}}">
<meta property="dcterms:format" content="{{format}}">
<meta property="dcterms:audience" content="{{_m('meta.audience')}}" lang="{{lang}}">
<meta property="dcterms:instructionalMethod" content="{{_m('meta.subject')}}" lang="{{lang}}">
<meta property="dcterms:language" content="{{lang}}">
<meta property="dcterms:license" content="https://opensource.org/license/mit" lang="{{lang}}">
<meta property="dcterms:bibliographicCitation" content="{{_m('meta.api.citation')}}" lang="{{lang}}">
<meta property="dcterms:isPartOf" content="{{_m('meta.thesisTitle')}}" lang="{{lang}}">
<meta property="dcterms:rights" content="{{_m('meta.copyright')}}" lang="{{lang}}">
<meta property="dcterms:rightsHolder" content="{{institution}}" lang="pt-BR">
{#
<meta property="dcterms.isReferencedBy" content="">
#}

<!-- DCMI DC -->
<meta name="DC.Title" content="{{title}}" lang="en-US">
<meta name="DC.Creator" content="{{_m('meta.author')}}" lang="pt-BR">
<meta name="DC.Subject" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="DC.Description" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="DC.Publisher" content="{{institution}}" lang="pt-BR">
<meta name="DC.Contributor" content="{{_m('meta.contributor')}}" lang="pt-BR">
<meta name="DC.Date" content="{{date}}">
<meta name="DC.Source" content="{{repository}}">
<meta name="DC.Relation" content="{{documentation}}">
<meta name="DC.Identifier" content="{{repository}}">
<meta name="DC.Type" content="{{type}}">
<meta name="DC.Format" content="{{format}}">
<meta name="DC.Language" content="{{lang}}">
<meta name="DC.Rights" content="{{_m('meta.copyright')}}" lang="{{lang}}">

<!-- DCMI DCTERMS -->
<meta name="DCTERMS.title" content="{{title}}" lang="en-US">
<meta name="DCTERMS.creator" content="{{_m('meta.author')}}" lang="pt-BR">
<meta name="DCTERMS.subject" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="DCTERMS.description" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="DCTERMS.abstract" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="DCTERMS.publisher" content="{{institution}}" lang="pt-BR">
<meta name="DCTERMS.contributor" content="{{_m('meta.contributor')}}" lang="pt-BR">
<meta name="DCTERMS.date" content="{{date}}">
<meta name="DCTERMS.created" content="{{created}}">
<meta name="DCTERMS.modified" content="{{modified}}">
<meta name="DCTERMS.source" content="{{repository}}">
<meta name="DCTERMS.relation" content="{{documentation}}">
<meta name="DCTERMS.softwareVersion" content="{{version}}">
<meta name="DCTERMS.identifier" content="{{repository}}/tree/v{{version}}">
<meta name="DCTERMS.isVersionOf" content="{{repository}}">
<meta name="DCTERMS.type" content="{{type}}">
<meta name="DCTERMS.format" content="{{format}}">
<meta name="DCTERMS.audience" content="{{_m('meta.audience')}}" lang="{{lang}}">
<meta name="DCTERMS.instructionalMethod" content="{{_m('meta.subject')}}" lang="{{lang}}">
<meta name="DCTERMS.language" content="{{lang}}">
<meta name="DCTERMS.license" content="https://opensource.org/license/mit" lang="{{lang}}">
<meta name="DCTERMS.bibliographicCitation" content="{{_m('meta.api.citation')}}" lang="{{lang}}">
<meta name="DCTERMS.isPartOf" content="{{_m('meta.thesisTitle')}}" lang="{{lang}}">
<meta name="DCTERMS.rights" content="{{_m('meta.copyright')}}" lang="{{lang}}">
<meta name="DCTERMS.rightsHolder" content="{{institution}}" lang="pt-BR">
{#
<meta name="dcterms.isReferencedBy" content="">
#}

<!-- Highwire Press -->
<meta name="citation_title" content="{{title}}" lang="en-US">
<meta name="citation_author" content="{{_m('meta.author')}}" lang="pt-BR">
<meta name="citation_keywords" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="citation_author_institution" content="{{institution}}" lang="pt-BR">
<meta name="citation_author_email" content="{{email}}">
<meta name="citation_publisher" content="{{institution}}" lang="pt-BR">
<meta name="citation_technical_report_institution" content="{{institution}}" lang="pt-BR">
<meta name="citation_dissertation_institution" content="{{institution}}" lang="pt-BR">
<meta name="citation_date" content="{{date}}">
<meta name="citation_year" content="{{year}}">
<meta name="citation_public_url" content="{{repository}}">
<meta name="citation_language" content="{{lang}}">
<meta name="citation_abstract" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="citation_copyright" property="dcterms:rights" content="{{_m('meta.copyright')}}" lang="{{lang}}">
<meta name="citation_software_version" content="{{version}}">
<meta name="citation_programming_language" content="python">
<meta name="citation_operating_system" content="web">

<!-- PRISM -->
<meta name="prism.title" content="{{title}}" lang="en-US">
<meta name="prism.keyword" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="prism.organization" content="{{institution}}" lang="pt-BR">
<meta name="prism.distributor" content="{{institution}}" lang="pt-BR">
<meta name="prism.link" content="{{documentation}}">
<meta name="prism.date" content="{{date}}">
<meta name="prism.creationDate" content="{{created}}">
<meta name="prism.modificationDate" content="{{modified}}">
<meta name="prism.copyrightYear" content="{{year}}">
<meta name="prism.url" content="{{repository}}">
<meta name="prism.language" content="{{lang}}">
<meta name="prism.contentType" content="{{type}}">
<meta name="prism.academicField" content="{{_m('meta.subject')}}">
<meta name="prism.versionIdentifier" content="{{version}}">

<!-- Eprints -->
<meta name="eprints.title" content="{{title}}" lang="en-US">
<meta name="eprints.keywords" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="eprints.creators_name" content="{{_m('meta.author')}}" lang="pt-BR">
<meta name="eprints.publisher" content="{{institution}}" lang="pt-BR">
<meta name="eprints.date" content="{{date}}">
<meta name="eprints.official_url" content="{{repository}}">
<meta name="eprints.abstract" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="eprints.citation" content="{{_m('meta.api.citation')}}" lang="{{lang}}">
<meta name="eprints.format" content="text/html">
<meta name="eprints.language" content="{{lang}}">
<meta name="eprints.license" content="mit" lang="{{lang}}">

<!-- BE Press -->
<meta name="bepress_citation_title" content="{{title}}" lang="en-US">
<meta name="bepress_citation_keywords" content="{{_m('meta.keywords')}}" lang="{{lang}}">
<meta name="bepress_citation_author" content="{{_m('meta.author')}}" lang="pt-BR">
<meta name="bepress_citation_abstract" content="{{_m('meta.description')}}" lang="{{lang}}">
<meta name="bepress_citation_author_institution" content="{{institution}}" lang="pt-BR">
<meta name="bepress_citation_date" content="{{date}}">
<meta name="bepress_citation_publisher" content="{{institution}}" lang="pt-BR">

<!-- JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{title}}",
  "author": {
    "@type": "Person",
    "name": "{{_m('meta.author')}}",
    "familyName": "da Silva Batista",
    "givenName": "Maurício",
    "email": "{{email}}",
    "affiliation": {
      "@type": "Organization",
      "name": "{{institution}}"
    }
  },
  "about": "{{_m('meta.keywords')}}",
  "abstract": "{{_m('meta.description')}}",
  "description": "{{_m('meta.description')}}",
  "keywords": "{{_m('meta.keywords')}}",
  "url": "{{repository}}/tree/v{{version}}",
  "sameAs": "{{documentation}}",
  "datePublished": "{{date}}",
  "dateCreated": "{{created}}",
  "dateModified": "{{modified}}",
  "applicationCategory": "ResearchApplication",
  "operatingSystem": "Web-based",
  "featureList": "{{_m('meta.featureList')}}",
  "releaseNotes": "{{repository}}/releases/tag/v{{version}}",
  "runtimePlatform": "Python 3.12",
  "softwareRequirements": "Python, Docker",
  "softwareVersion": "{{version}}",
  "audience": "{{_m('meta.audience')}}",
  "citation": "{{_m('meta.api.citation')}}",
  "contributor": {
    "@type": "Person",
    "name": "{{_m('meta.contributor')}}",
    "familyName": "Fernando de Araujo",
    "givenName": "Alex",
    "email": "alex.araujo@ifms.edu.br",
    "affiliation": {
      "@type": "Organization",
      "name": "{{institution}}"
    }
  },
  "copyrightHolder": {
    "@type": "Organization",
    "name": "{{institution}}"
  },
  "copyrightNotice": "{{_m('meta.copyright')}}",
  "copyrightYear": "{{year}}",
  "countryOfOrigin": {
    "@type": "Country",
    "name": "Brazil"
  },
  "conditionsOfAccess": "{{_m('meta.conditionsOfAccess')}}",
  "creditText": "{{_m('meta.dataSource')}}",
  "educationalUse": "{{_m('meta.subject')}}",
  "inLanguage": "{{lang}}",
  "isAccessibleForFree": "True",
  "isPartOf": "{{_m('meta.thesisTitle')}}",
  "license": "https://opensource.org/license/mit",
  "provider": {
    "@type": "Organization",
    "name": "GitHub",
    "url": "{{repository}}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{institution}}"
  },
  "sourceOrganization": {
    "@type": "Organization",
    "name": "{{institution}}"
  },
  "owner": {
    "@type": "Organization",
    "name": "{{institution}}"
  },
  "usageInfo": "{{documentation}}",
  "version": "{{version}}",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingCount": 1,
    "reviewCount": 1,
    "ratingValue": 1
  },
  "offers": {
    "@type": "Offer",
    "price": 0,
    "priceCurrency": "BRL"
  }
}
</script>

<!-- BibTeX -->
<script type="application/x-bibtex">
@misc{Batista_Scopus_Survey_API_2024,
  title = { {{title}} },
  author = { {{_m('meta.author')}} },
  year = { {{year}} },
  howpublished = {\url{ {{repository}} } GitHub },
  annote = { {{_m('meta.api.bibtex.annote').format(docs=documentation)}} },
  note = { {{_m('meta.api.bibtex.note').format(version=version)}} }
}
</script>

<!-- BibLaTeX -->
<script type="application/x-biblatex">
@software{Batista_Scopus_Survey_API_2024,
  title = { {{title}} },
  author = { {{_m('meta.author')}} },
  keywords = { {{_m('meta.keywords')}} },
  url = { {{repository}}/tree/v{{version}} },
  year = { {{year}} },
  abstract = { {{_m('meta.description')}} },
  institution = { {{institution}} },
  organization = { {{_m('meta.api.biblatex.org')}} },
  publisher = { GitHub },
  editor = { {{_m('meta.contributor')}} },
  editortype = { advisor },
  related = { {{documentation}} },
  relatedtype = { documentation },
  language = { {{lang}} },
  date = { {{date}} },
  type = { {{type}} },
  license = { MIT },
  version = { {{version}} },
  annotation = { {{_m('meta.api.biblatex.annote')}} },
  note = { {{_m('meta.api.biblatex.note')}} }
}
</script>

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{_t('title')}}">
<meta property="og:description" content="{{_m('meta.description')}}">
<meta property="og:image" content="{{url_for('images', path='/social-card.png')}}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="ScopusSurveyAPI logo">
<meta property="og:url" content="{{url_for('web_form_page', lang=lang)}}">
<meta property="og:site_name" content="{{title}}">
<meta property="og:locale" content="{{lang}}">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="pt_BR">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{_t('title')}}">
<meta property="twitter:description" content="{{_m('meta.description')}}">
<meta property="twitter:image" content="{{url_for('images', path='/social-card.png')}}">
