<dialog id="loader-dialog" tabindex="-1" aria-busy="true" aria-label="{{_t('loader.albl')}}"
  aria-describedby="loader-desc" aria-modal="true" hidden>
  <div id="spinner" aria-hidden="true" role="status"></div>
  <div id="progress" aria-hidden="true" role="status">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p id="loader-desc" hidden>{{_t('loader.desc')}}</p>
</dialog>


<dialog id="success-alert" class="container alert fade show" role="alertdialog" tabindex="-1"
  aria-label="{{_t('success_alert.albl')}}" aria-modal="false" hidden>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </svg>
  <div id="success-alert-msg" class="alert-msg"></div>
  <button class="btn-close" type="button" aria-label="{{_t('alert.close_btn')}}"></button>
</dialog>

<dialog id="warning-alert" class="container alert fade show" role="alertdialog" tabindex="-1"
  aria-label="{{_t('warning_alert.albl')}}" aria-modal="false" hidden>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
  </svg>
  <div id="warning-alert-msg" class="alert-msg">{{_t('warning_alert.desc')}}</div>
  <button class="btn-close" type="button" aria-label="{{_t('alert.close_btn')}}"></button>
</dialog>

<dialog id="error-alert" class="container alert p-0 border-0 fade show" role="alertdialog" tabindex="-1"
  aria-label="{{_t('error_alert.albl')}}" aria-modal="false" hidden>
  <div id="accordion-error-alert" class="accordion">
    <div class="accordion-item">
      <div class="accordion-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
        </svg>
        <div id="error-alert-msg" class="alert-msg" aria-details="error-raw-json"></div>
        <button id="accordion-json-button" class="accordion-button w-auto me-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#json-tree-collapse" aria-controls="json-tree-collapse" aria-haspopup="tree"
          aria-expanded="false" aria-pressed="false" aria-label="{{_t('collapse.close_btn')}}"></button>
        <button class="btn-close" type="button" aria-label="{{_t('alert.close_btn')}}"></button>
      </div>
      <div id="json-tree-collapse" class="accordion-collapse collapse" data-bs-parent="#accordion-error-alert"
        aria-expanded="false" role="region" aria-labelledby="accordion-json-button">
        <div id="error-raw-json" class="accordion-body" role="tree" spellcheck="false"
          aria-label="{{_t('error_alert.accordion.albl')}}" tabindex="0">
        </div>
      </div>
    </div>
  </div>
</dialog>

<div id="details-modal" class="modal fade modal-fullscreen-sm-down" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-modal="true" aria-expanded="false" aria-labelledby="details-title"
  aria-describedby="details-caption" hidden>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="details-title" class="modal-title">{{_t('details')}}</div>
        <button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="{{_t('details.close_btn')}}"></button>
      </div>
      <div class="modal-body" aria-live="polite" aria-atomic="false">
        <table id="details-table" class="table table-striped caption-top">
          <caption id="details-caption" class="fw-bold mb-3">{{_t('details.caption')}}</caption>
          <colgroup>
            <col span="1">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">{{_t('details.field_col')}}</th>
              <th scope="col">{{_t('details.value_col')}}</th>
            </tr>
          </thead>
          <tbody id="details-tbody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="warning-modal" class="modal fade modal-fullscreen-sm-down" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-modal="true" aria-expanded="false" aria-labelledby="warning-title"
  aria-describedby="warnings-caption" hidden>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="warning-title" class="modal-title">
          {{_t('warning')}}
          <span id="warnings-number" class="badge text-bg-danger" aria-hidden="true"></span>
        </div>
        <button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="{{_t('warning.close_btn')}}"></button>
      </div>
      <div class="modal-body" aria-live="polite" aria-atomic="false" role="alert">
        <ul id="warnings-messages" class="list-group list-group-flush" aria-label="{{_t('warning.list_group.albl')}}">
        </ul>
      </div>
      <div class="modal-footer">
        <table id="warning-table" class="table table-striped caption-top">
          <caption id="warnings-caption" class="mb-3">
            {{_t('warning.caption')}}
          </caption>
          <colgroup>
            <col span="1">
            <col span="1">
          </colgroup>
          <tbody id="warning-tbody">
            <tr>
              <td>{{_t('warning.search_quotas')}}</td>
              <td id="search-quotas-td"></td>
            </tr>
            <tr>
              <td>{{_t('warning.abstract_quotas')}}</td>
              <td id="abstract-quotas-td"></td>
            </tr>
            <tr>
              <td>{{_t('warning.retrievable_results')}}</td>
              <td id="retrievable-results-td"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
