<dialog id="loader-dialog" role="status" tabindex="-1" aria-live="polite" aria-busy="true"
  aria-label="Processing request" aria-describedby="loader-desc" aria-modal="true" hidden>
  <div id="spinner" aria-hidden="true"></div>
  <div id="progress" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p id="loader-desc" hidden>Please wait while we complete the operation...</p>
</dialog>


<dialog id="success-alert" class="container alert fade show" role="alert" tabindex="-1" aria-label="Operation succeeded"
  aria-live="polite" aria-atomic="true" aria-modal="false" hidden>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </svg>
  <div id="success-alert-msg" class="alert-msg"></div>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close alert"></button>
</dialog>

<dialog id="warning-alert" class="container alert fade show" role="alert" tabindex="-1"
  aria-label="Important information" aria-live="assertive" aria-atomic="true" aria-modal="false" hidden>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
  </svg>
  <div id="warning-alert-msg" class="alert-msg">{{_t('M0101')}}</div>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close alert"></button>
</dialog>

<dialog id="error-alert" class="container alert p-0 border-0 fade show" role="alert" tabindex="-1"
  aria-label="Operation failed" aria-live="assertive" aria-atomic="true" aria-errormessage="error-alert-msg"
  aria-modal="false" hidden>
  <div id="accordion-error-alert" class="accordion">
    <div class="accordion-item">
      <div class="accordion-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
        </svg>
        <div id="error-alert-msg" class="alert-msg" aria-details="error-raw-json"></div>
        <button id="accordion-json-button" class="accordion-button w-auto me-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#json-tree-collapse" aria-controls="json-tree-collapse" aria-haspopup="tree"
          aria-expanded="false" aria-pressed="false" aria-label=""></button>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close alert"></button>
      </div>
      <div id="json-tree-collapse" class="accordion-collapse collapse" data-bs-parent="#accordion-error-alert"
        aria-expanded="false">
        <div id="error-raw-json" class="accordion-body" role="tree" spellcheck="false" aria-label="Response error JSON"
          tabindex="0">
        </div>
      </div>
    </div>
  </div>
</dialog>

<div id="details-modal" class="modal fade modal-fullscreen-sm-down" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-modal="true" aria-expanded="false" aria-labelledby="details-title"
  aria-describedby="details-caption" hidden>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="details-title" class="modal-title">Details</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close details"></button>
      </div>
      <div class="modal-body" aria-live="polite" aria-atomic="false">
        <table id="details-table" class="table table-striped caption-top">
          <caption id="details-caption" class="fw-bold mb-3">Operation and Scopus APIs result details</caption>
          <colgroup>
            <col span="1">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody id="details-tbody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="warning-modal" class="modal fade modal-fullscreen-sm-down" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-modal="true" aria-expanded="false" aria-labelledby="warning-title"
  aria-describedby="warnings-caption" hidden>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="warning-title" class="modal-title">
          Warnings
          <span id="warnings-number" class="badge text-bg-danger" aria-hidden="true"></span>
        </h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close warning"></button>
      </div>
      <div class="modal-body" aria-live="polite" aria-atomic="false">
        <ul id="warnings-messages" class="list-group list-group-flush" role="alert" aria-label="Warnings list"></ul>
      </div>
      <div class="modal-footer">
        <table id="warning-table" class="table table-striped caption-top">
          <caption id="warnings-caption" class="mb-3">
            Consumption and limitations for the selected option.
          </caption>
          <colgroup>
            <col span="1">
            <col span="1">
          </colgroup>
          <tbody id="warning-tbody">
            <tr>
              <td>Search quotas</td>
              <td id="search-quotas-td"></td>
            </tr>
            <tr>
              <td>Abstract quotas</td>
              <td id="abstract-quotas-td"></td>
            </tr>
            <tr>
              <td>Retrievable results</td>
              <td id="retrievable-results-td"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
