<article>

  <div id="ifms-tads">
    <p id="institution" aria-label="{{ifmsTads.T01}}">
      <span lang="{{lang}}">{{ifmsTads.T05}}</span>
      <span class="ifms-slice" lang="{{lang}}">{{ifmsTads.T06}}</span>
      <span lang="pt-BR">Mato Grosso do Sul</span>
      <span class="separator" aria-label="{{ifmsTads.T02}}" aria-hidden="true">&#9900;</span>
      <a class="link" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank" rel="external"
        translate="no" lang="pt-BR" title="IFMS - Campus Três Lagoas">
        IFMS Três Lagoas
      </a>
    </p>
    <p id="course" aria-label="{{ifmsTads.T03}}">
      <span lang="{{lang}}">{{ifmsTads.T07}}</span>
      <span class="separator" aria-label="{{ifmsTads.T02}}" aria-hidden="true">&#9900;</span>
      <a class="link"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="external" translate="no" lang="pt-BR" title="TADS - IFMS Três Lagoas">
        TADS
      </a>
    </p>
    <p id="acronyms" aria-label="{{ifmsTads.T04}}">
      <a class="link" href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank" rel="external"
        translate="no" lang="pt-BR" title="IFMS - Campus Três Lagoas">
        IFMS Três Lagoas
      </a>
      <span class="separator" aria-label="{{ifmsTads.T02}}" aria-hidden="true">&#9900;</span>
      <a class="link"
        href="https://www.ifms.edu.br/campi/campus-tres-lagoas/cursos/graduacao/analise-e-desenvolvimento-de-sistemas"
        target="_blank" rel="external" translate="no" lang="pt-BR" title="TADS - IFMS Três Lagoas">
        TADS
      </a>
    </p>
  </div>

  <section class="text-group">
    <h2 lang="{{lang}}">{{overview.title}}</h2>
    <p lang="{{lang}}">
      {{overview.T06}}
      <a class="link" href="https://dev.elsevier.com/documentation/SCOPUSSearchAPI.wadl" target="_blank"
        rel="external help" translate="no" lang="en-US" title="{{overview.T01}}">Scopus Search API</a>
      {{overview.T07}}
      <a class="link" href="https://dev.elsevier.com/documentation/AbstractRetrievalAPI.wadl" target="_blank"
        rel="external help" translate="no" lang="en-US" title="{{overview.T02}}">Scopus Abstract
        Retrieval API</a>
      {{overview.T08}}
      <a class="link" href="https://www.scopus.com/home.uri" target="_blank" rel="external help" translate="no"
        lang="en-US" title="{{overview.T03}}">Scopus</a>
      {{overview.T09}}
      <abbr title="{{overview.T04}}" lang="en-US">CSV</abbr>
      {{overview.T10}}
      <a class="link" href="https://mauprogramador.github.io/scopus-survey-api/" target="_blank" rel="external help"
        lang="{{lang}}" title="{{overview.T05}}">{{overview.T11}}</a>.
    </p>
  </section>

  <section class="text-group">
    <h2 lang="{{lang}}">{{quotaRate.title}}</h2>
    <p lang="{{lang}}">
      {{quotaRate.T03}}
      <a class="link" href="https://dev.elsevier.com/sc_apis.html" target="_blank" rel="external help" lang="en-US"
        title="{{quotaRate.T01}}">Scopus <abbr title="{{api_title}}" lang="en-US">APIs</abbr></a>
      {{quotaRate.T04|safe}}
      <a class="link" href="https://dev.elsevier.com/api_key_settings.html" target="_blank" rel="external help"
        lang="{{lang}}" title="{{quotaRate.T02}}">{{quotaRate.T05}}</a>.
    </p>
  </section>

  <section class="text-group">
    <h2 lang="{{lang}}">
      {{network.title}}
      <span class="required-field" title="{{required}}" aria-label="{{required}}">*</span>
    </h2>
    <p lang="{{lang}}">
      {{network.T03|safe}}
      <a class="link" href="https://www.elsevier.com/" target="_blank" rel="external" translate="no" lang="en-US"
        title="{{network.T01}}">Elsevier</a>. {{network.T04}} <abbr title="Virtual Private Network"
        lang="en-US">VPN</abbr>
      {{network.T05}} <abbr title="{{network.T02}}" lang="en-US">proxy</abbr> {{network.T06|safe}}
    </p>
  </section>

</article>
