<article id="form-step-4" class="container mt-4 pt-0" aria-labelledby="step-4-title" aria-describedby="step-4-desc"
  hidden>
  {{ partial_steps.step4() }}
  <hr class="mt-2 mb-5" aria-hidden="true">

  <div class="row align-items-start">

    <section class="col pe-lg-5 text-group mb-5 mb-lg-0" aria-labelledby="quotas-title" aria-describedby="quotas-desc">
      {{ partial_fields.quotas() }}
    </section>

    <section class="col ps-lg-5 text-group" aria-labelledby="threshold-title" aria-describedby="threshold-desc">
      {{ partial_fields.threshold() }}
      <div class="field-container">
        <div class="field-wrapper">
          <span class="field-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
              <path
                d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z" />
            </svg>
          </span>
          <input id="threshold" class="form-control" name="threshold" form="survey-form" type="number" min="0" max="100"
            step="1" data-checked="false" autocomplete="on" placeholder="{{_t('threshold.placeholder')}}"
            inputmode="numeric" aria-invalid="false" aria-required="false" aria-labelledby="threshold-title"
            aria-describedby="threshold-desc" aria-details="threshold-help" aria-errormessage="threshold-feedback">
        </div>
        <div id="threshold-feedback" class="field-feedback" role="alert" aria-live="assertive" hidden></div>
        <div id="threshold-help" class="field-help" role="note">{{_t('threshold.help')}}</div>
      </div>
    </section>

  </div>

  <div class="field-wrapper btn-section justify-content-center mt-5 mb-3 flex-wrap gap-3">
    <button id="survdocs-button" class="btn btn-scopus text-nowrap col-12 col-md-auto me-lg-4" type="button"
      name="button" value="search" form="survey-form" data-action-url="{{url_for('survey_bibliographic_data')}}"
      disabled aria-live="polite" aria-busy="false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
        <path
          d="M200-800v241-1 400-640 200-200Zm0 720q-33 0-56.5-23.5T120-160v-640q0-33 23.5-56.5T200-880h320l240 240v100q-19-8-39-12.5t-41-6.5v-41H480v-200H200v640h241q16 24 36 44.5T521-80H200Zm460-120q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29ZM864-40 756-148q-21 14-45.5 21t-50.5 7q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 26-7 50.5T812-204L920-96l-56 56Z" />
      </svg>
      {{_t('surv_docs_btn')}}
    </button>
    <button id="download-button" class="btn btn-scopus text-nowrap col-12 col-md-auto ms-lg-4 me-lg-4" type="button"
      name="button" value="download" form="survey-form" data-action-url="{{url_for('download_csv')}}" disabled
      aria-live="polite" aria-busy="false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16" aria-hidden="true">
        <path
          d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
      </svg>
      {{_t('download_btn')}}
    </button>
    <button id="survdocsdetls-button" class="btn btn-scopus text-nowrap col-12 col-md-auto ms-lg-4" type="button"
      data-bs-toggle="modal" data-bs-target="#details-modal" disabled aria-controls="details-modal"
      aria-haspopup="dialog" aria-expanded="false" aria-pressed="false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
        <path
          d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z" />
        <path
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
        <path
          d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
      </svg>
      {{_t('details_btn')}}
    </button>
  </div>

</article>
