<!DOCTYPE html>
<!-- cspell:ignoreRegExp >(.*?)< -->
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/styles/table-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/styles/alerts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/table.css" type="text/css" />
    <title>Scopus Searcher API</title>
  </head>

  <body>
    <div id="alerts-container">
      <dialog id="info-modal" role="alert">
        <div>
          <img class="alert-icon" src="/svgs/info.svg" alt="Info icon" crossorigin="anonymous" loading="lazy" />
          <div class="alert-message">
            <span lang="en-us">Article Data</span>
            <span lang="pt-br">Dados do Artigo</span>
          </div>
          <img class="alert-close" src="/svgs/close.svg" alt="Close icon" crossorigin="anonymous" loading="lazy" />
        </div>
        <dl id="modal-body"></dl>
      </dialog>
    </div>
    <header>
      <div>
        <h1 id="api-name" translate="no">
          Scopus Searcher API <span id="api-version">v{{ version }}</span>
        </h1>
        <p id="api-description">
          <span lang="en-us">API for bibliographic survey of Scopus articles</span>
          <span lang="pt-br">API para levantamento bibliográfico de artigos da Scopus</span>
        </p>
      </div>
      <div id="language">
        <select id="language-select" title="Language selector" required>
          <option value="pt-br" selected>Português (pt-br)</option>
          <option value="en-us">English (en-us)</option>
        </select>
        <div id="language-flag" title="Language flag">
          <span lang="en-us">
            <img src="/images/en.png" alt="USA flag" crossorigin="anonymous" loading="lazy" />
          </span>
          <span lang="pt-br">
            <img src="/images/br.png" alt="Brazil flag" crossorigin="anonymous" loading="lazy" />
          </span>
        </div>
      </div>
    </header>
    <main>
      {% if content %}
      <table title="Articles found">
        <caption>
          <span lang="en-us">A total of {{ content|length }} articles were found</span>
          <span lang="pt-br">Foram encontrados um total de {{ content|length }} artigos</span>
        </caption>
        <colgroup>
          <col span="1" data-column="index">
          <col span="1" data-column="url">
          <col span="1" data-column="scopus-id">
          <col span="1" data-column="authors">
          <col span="1" data-column="title">
          <col span="1" data-column="publication-name">
          <col span="1" data-column="abstract">
          <col span="1" data-column="volume">
          <col span="1" data-column="date">
          <col span="1" data-column="doi">
          <col span="1" data-column="citations">
        </colgroup>
        <thead>
          <tr>
            <th data-column="index">#</th>
            <th data-column="url">
              <span lang="en-us">
                <abbr title="Uniform Resource Locator">URL</abbr>
              </span>
              <span lang="pt-br">
                <abbr title="Localizador Uniforme de Recursos">URL</abbr>
              </span>
            </th>
            <th data-column="scopus-id">
              <span lang="en-us">Scopus ID</span>
              <span lang="pt-br">ID Scopus</span>
            </th>
            <th data-column="authors">
              <span lang="en-us">Authors</span>
              <span lang="pt-br">Autores</span>
            </th>
            <th data-column="title">
              <span lang="en-us">Title</span>
              <span lang="pt-br">Título</span>
            </th>
            <th data-column="publication-name">
              <span lang="en-us">Publication Name</span>
              <span lang="pt-br">Nome de Publicação</span>
            </th>
            <th data-column="abstract">
              <span lang="en-us">Abstract</span>
              <span lang="pt-br">Resumo</span>
            </th>
            <th data-column="volume">Volume</th>
            <th data-column="date">
              <span lang="en-us">Date</span>
              <span lang="pt-br">Data</span>
            </th>
            <th data-column="doi">
              <span lang="en-us">
                <abbr title="Digital Object Identifier">DOI</abbr>
              </span>
              <span lang="pt-br">
                <abbr title="Identificador de Objeto Digital">DOI</abbr>
              </span>
            </th>
            <th data-column="citations">
              <span lang="en-us">Citations</span>
              <span lang="pt-br">Citações</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in content %}
          <tr>
            <td data-column="index">{{ loop.index }}</td>
            <td data-column="url">{{ row[0] }}</td>
            <td data-column="scopus-id">{{ row[1] }}</td>
            <td data-column="authors">{{ row[2] }}</td>
            <td data-column="title">{{ row[3] }}</td>
            <td data-column="publication-name">{{ row[4] }}</td>
            <td data-column="abstract">{{ row[5] }}</td>
            <td data-column="volume">{{ row[6] }}</td>
            <td data-column="date">{{ row[7] }}</td>
            <td data-column="doi">{{ row[8] }}</td>
            <td data-column="citations">{{ row[9] }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td id="total-colspan">Total</td>
            <td id="total-lenght">{{ content|length }}</td>
          </tr>
        </tfoot>
      </table>
      <div id="search-link">
        <a href="{{ web_app_url }}" rel="alternate prev" title="">
          <img src="/svgs/search.svg" alt="Search icon" crossorigin="anonymous" loading="lazy" />
          <span lang="en-us">Do Another Search</span>
          <span lang="pt-br">Faça Outra Busca</span>
        </a>
      </div>
      {% else %}
      <div class="no-file-message">
        <span lang="en-us">No CSV file found. Try <a href="{{ web_app_url }}" class="link">searching the articles</a>
          first.</span>
        <span lang="pt-br">Nenhum arquivo CSV encontrado. Tente <a href="{{ web_app_url }}" class="link">pesquisar os
            artigos</a> primeiro.</span>
      </div>
      {% endif %}
    </main>
    <footer>
      <p translate="no">
        <span class="footer-item">ScopusSearcherAPI
          <small>v{{ version }} <time datetime="2024-08">Ago 2024</time></small></span>
        <span class="footer-item">
          <a class="footer-item link" href="https://github.com/mauprogramador/scopus-searcher-api/blob/master/LICENSE"
            target="_blank" rel="license" title="MIT License">MIT License</a>
        </span>
        <span class="footer-item">Developed by
          <a class="link" href="https://github.com/mauprogramador" target="_blank" rel="author"
            title="Developer GitHub profile">@mauprogramador</a>
        </span>
      </p>
      <nav>
        <a href="mailto:sir.silvabmauricio@gmail.com" target="_blank" rel="author" title="Developer email contact">
          <img src="/images/gmail.png" alt="Gmail logo" crossorigin="anonymous" loading="lazy" />
        </a>
        <a href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank" rel="external"
          title="IFMS - Campus Três Lagoas">
          <img src="/images/ifms.jpg" alt="IFMS logo" crossorigin="anonymous" loading="lazy" />
        </a>
        <a href="https://github.com/mauprogramador/scopus-searcher-api" target="_blank" rel="external"
          title="Source code GitHub repository">
          <img src="/svgs/github.svg" alt="GitHub logo" crossorigin="anonymous" loading="lazy" />
        </a>
        <a href="{{ swagger_url }}" target="_blank" rel="alternate prev" title="API Swagger UI">
          <img src="/images/swagger.png" alt="Swagger logo" crossorigin="anonymous" loading="lazy" />
        </a>
      </nav>
    </footer>
    <script src="/scripts/index.js" type="module" crossorigin="anonymous"></script>
    <script src="/scripts/table.js" type="module" crossorigin="anonymous"></script>
  </body>

</html>
