dialog {
  max-width: 1350px;
}
dialog:not([open]) {
  display: none;
  opacity: 0;
}

.alert {
  box-shadow: 5px 5px 7px #BBBBBB;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 0.5s;
  color: var(--black-2E);
  align-items: center;
  margin-right: auto;
  border: 2px solid;
  border-left: 10px solid;
  margin-left: auto;
  margin-bottom: 0;
  font-weight: 700;
  display: flex;
  outline: none;
  width: 100%;
  z-index: 6;
}

.alert-icon {
  height: 1.875rem;
  width: 1.875rem;
}
.alert-icon svg {
  fill: inherit;
}

.alert-message {
  justify-content: space-evenly;
  text-overflow: ellipsis;
  flex-direction: column;
  padding: 0 1.875rem;
  overflow: hidden;
  display: flex;
  height: auto;
  flex: 1;
}

.alert-close {
  background-color: #E5E5E5;
  border-radius: 0.25rem;
  height: 1.5625rem;
  width: 1.5625rem;
  cursor: pointer;
  padding: 0;
  border: 0;
}
.alert-close:hover {
  background-color: #555;
}
.alert-close svg {
  fill: var(--gray-5x);
}
.alert-close svg:is(:hover, :focus-visible) {
  fill: var(--orange);
}

/* Colors */
#info-alert {
  border-color: var(--aqua);
  fill: var(--aqua);
}
#success-alert {
  border-color: var(--green);
  fill: var(--green);
}
#error-alert {
  border-color: var(--red);
  fill: var(--red);
}

.alert:not([open]) {
  transform: translateY(-50px);
}
.alert[open] {
  animation-name: alert-in;
}

/* Keyframes */
@keyframes alert-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Media Query */
@media only screen and (min-width: 992px) {
  dialog {
    border-radius: 5px;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 639px) {
  dialog {
    padding: 1rem !important;
  }
  .alert-message {
    padding: 0 0.7rem !important;
  }
}
