h1 {
  font-size: 9.38rem;
}

.btn-light {
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-color: var(--text-emphasis-color);
  --bs-btn-hover-bg: #f7f6f2;
}

#json-response {
  max-width: 500px;
  width: 100%;
}
.json-value.json-string {
  white-space: break-spaces;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
}
