/* Field & Group */
.field-container {
  position: relative;
  margin-top: 0.5rem;
}
.field-wrapper {
  outline-offset: 3px;
  display: flex;
  width: 100%;
}
.field-wrapper:has(input:not([type='radio']), select) {
  border-bottom: 2px solid var(--emphasis-color);
}
.field-wrapper:has(button:disabled) {
  cursor: not-allowed;
}

/* Buttons */
#prevsurvey-button {
  min-width: 50%;
}
.btn-section button {
  min-width: 25%;
}

/* Input Icon */
.field-wrapper .field-icon {
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
  color: var(--emphasis-color);
  align-items: end;
  display: flex;
}

/* Fields */
.field-wrapper :is(input:not([type='radio']), select) {
  padding: 0.5rem 0.75rem 0.2rem 0.75rem;
  background-color: var(--white);
  overflow: hidden !important;
  caret-color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  border-radius: 0;
  color: var(--black);
  border: none;
}
.field-wrapper input:not([type='radio'])::placeholder {
  color: var(--emphasis-color);
}
.field-wrapper input:not([type='radio']):is(:-webkit-autofill, :autofill) {
  -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
  box-shadow: 0 0 0 1000px var(--white) inset !important;
}
.field-wrapper :is(input:not([type='radio']), select):focus {
  background-color: var(--white);
  box-shadow: none;
  color: var(--black);
}
.field-wrapper:has(:is(input:not([type='radio']), select):focus-visible) {
  box-shadow: 9px -1px 2px var(--white), 7px 7px 3px -2px #bbbbbb;
}
.field-wrapper:has(
    input:not([type='radio']):focus-visible,
    select:focus-visible
  )
  .field-icon {
  color: var(--focus-color) !important;
}
.field-wrapper input:not([type='radio']):focus::placeholder {
  color: var(--focus-color) !important;
}
.field-wrapper select:has(option:first-child:checked):focus {
  color: var(--focus-color) !important;
}

/* Select */
.field-wrapper select {
  --bs-form-select-bg-img: url('/svgs/arrow-down.svg');
  background-position: right 1px center;
  background-size: 16px auto;
  padding-right: 0.85rem;
  cursor: pointer;
}
.field-wrapper select option:first-child {
  color: var(--emphasis-color);
}
.field-wrapper select option:checked:not(:first-child) {
  background-color: var(--emphasis-color);
  color: var(--white);
}
.field-wrapper select:has(option:first-child:checked) {
  color: var(--emphasis-color);
}
.field-wrapper select option:not(:first-child, :checked) {
  color: var(--black);
}

/* Input Radio */
.form-check-input {
  border: 2px solid var(--radio-border-color);
  background-color: inherit;
  background-size: 14px;
  margin-right: 0.5rem;
  margin-top: 0.1em;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.form-check-input:hover {
  border-color: var(--black);
}
.form-check-input ~ label {
  cursor: pointer;
  width: 100%;
}
.form-check-input:checked[type='radio'] {
  --bs-form-check-bg-image: url('/svgs/circle.svg');
  background-color: transparent;
  border-color: var(--black);
}
.form-check-input:focus {
  border-color: var(--radio-border-color);
  box-shadow: none;
  outline: none;
}

/* Border Color */
.field-wrapper:has(input:not([type='radio'])):hover {
  border-color: var(--primary-color) !important;
}
.field-wrapper:has(
    :is(input:not([type='radio']), select):is(:hover, :focus-visible, :active)
  ) {
  border-color: var(--primary-color) !important;
}
#combination-table:has(.field-wrapper:hover) .table-group-divider {
  color: var(--primary-color);
}
#combination-table:has(.field-wrapper:hover) thead th {
  color: var(--focus-color);
}
#combination-table:has(input:is(:hover, :focus-visible, :active))
  .table-group-divider {
  color: var(--primary-color);
}
#combination-table:has(input:is(:hover, :focus-visible, :active)) thead th {
  color: var(--focus-color);
}
.field-wrapper:has(
    input[data-checked='true'][aria-invalid='false']:valid:not(
        [type='radio'],
        :placeholder-shown
      )
  ) {
  border-color: var(--valid-color) !important;
}
.field-wrapper:has(
    select[data-checked='true'][aria-invalid='false']:valid:not(
        :has(option:first-child:checked)
      )
  ) {
  border-color: var(--valid-color) !important;
}
#combination-table:has(
    input[data-checked='true'][aria-invalid='false']:checked:valid
  )
  .table-group-divider {
  color: var(--valid-color);
}
.field-wrapper:has(
    input[data-checked='true'][aria-invalid='true']:invalid:not([type='radio'])
  ) {
  border-color: var(--invalid-color) !important;
}
.field-wrapper:has(select[data-checked='true'][aria-invalid='true']:invalid) {
  border-color: var(--invalid-color) !important;
}
#combination-table:has(input[data-checked='true'][aria-invalid='true']:invalid)
  .table-group-divider {
  color: var(--invalid-color);
}

/* Box-Shadow Color */
.field-wrapper:has(
    :is(
        input:not([type='radio'], :placeholder-shown),
        select
      )[data-checked='true'][aria-invalid='false']:valid
  ):is(:hover, :focus-within) {
  box-shadow: 0 0 0 3px var(--valid-color-shadow);
  border-radius: 3px;
}
#combination-table:has(
    input[data-checked='true'][aria-invalid='false']:checked:valid
  )
  thead
  tr:is(:hover, :focus, :focus-visible) {
  box-shadow: 0 0 0 3px var(--valid-color-shadow);
  border-radius: 3px;
}
.field-wrapper:has(
    :is(
        input:not([type='radio']),
        select
      )[data-checked='true'][aria-invalid='true']:invalid
  ):is(:hover, :focus-within) {
  box-shadow: 0 0 0 3px var(--invalid-color-shadow);
  border-radius: 3px;
}
#combination-table:has(input[data-checked='true'][aria-invalid='true']:invalid)
  thead
  tr:is(:hover, :active, :focus-visible) {
  box-shadow: 0 0 0 3px var(--invalid-color-shadow);
  border-radius: 3px;
}

/* After */
.field-wrapper:has(:is(input, select)[data-checked='true'])::after {
  background-position: right calc(0.375em + 0.1875rem) center;
  padding: 0.5rem 0.75rem 0.2rem 1rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  content: '';
}
.field-wrapper:has(
    input[data-checked='true'][aria-invalid='false']:valid:not(
        [type='radio'],
        :placeholder-shown
      )
  )::after {
  background-image: url('/svgs/check.svg');
  background-size: 0.9375rem 0.9375rem;
}
.field-wrapper:has(
    select[data-checked='true'][aria-invalid='false']:valid
  )::after {
  background-image: url('/svgs/check.svg');
  background-size: 0.9375rem 0.9375rem;
}
.field-wrapper:has(
    input[type='radio'][data-checked='true'][aria-invalid='false']:checked:valid
  )::after {
  background-image: url('/svgs/check.svg');
  background-size: 0.9375rem 0.9375rem;
}
.field-wrapper:has(
    :is(
        input:not([type='radio']),
        input[type='radio']:checked,
        select
      )[data-checked='true'][aria-invalid='true']:invalid
  )::after {
  background-image: url('/svgs/error.svg');
  background-size: 1.125rem 1.125rem;
}

/* Feedback */
.field-feedback {
  background-color: var(--white);
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  position: absolute;
  color: var(--invalid-color);
  white-space: wrap;
  font-weight: 500;
  border: none;
  width: 100%;
  left: 0;
}

/* Help */
.field-help {
  font-style: italic;
  font-size: 0.875rem;
  margin: 0.4rem 0;
  color: #737373;
}
