/* Header */
header {
  border-top: 2px solid var(--orange);
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.9375rem 1.875rem;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
}

.header__details {
  flex-direction: column;
  display: flex;
  gap: 0.2rem;
}
.api__info {
  display: flex;
  gap: 1rem;
}
.api__name {
  color: var(--orange);
  white-space: nowrap;
  font-size: 1.5rem;
}
.api__name:hover {
  opacity: 0.7;
}
.api__version a {
  font-size: 0.875rem;
}
.api__info .api__version {
  padding-bottom: 0.2rem;
  align-items: end;
  display: flex;
}
.api__version svg {
  height: 0.875rem;
}
.api__description {
  line-height: 1.3rem;
  font-size: 0.875rem;
}

.header__navbar {
  align-items: center;
  display: flex;
}
.navbar__inner {
  justify-content: end;
  align-items: end;
  display: flex;
  width: 100%;
  gap: 2rem;
}
.navbar__inner .api__version {
  display: none;
}

/* Link Icon */
.link-icon {
  align-items: end;
  display: flex;
}
.link-icon:is(:hover, :focus-visible) svg {
  fill: var(--orange) !important;
}
.link-text {
  transition: none;
}
.link-icon:is(:hover, :focus-visible) .link-text + svg {
  transform: translateX(0.1em);
}
.link-icon:is(:hover, :focus-visible) svg:has(+ .link-text) {
  transform: translateX(-0.1em);
}

/* Abbreviation */
abbr {
  text-decoration: underline var(--orange) dashed 2px;
  text-underline-offset: 3px;
  display: inline-block;
  position: relative;
  font-weight: bold;
  transition: none;
  cursor: help;
  z-index: 0;
}
abbr:hover {
  background-color: #FFFF00;
  outline: 3px solid #FFFF00;
}
.link abbr:hover {
  color: var(--gray-50);
}
@media (pointer: coarse), (hover: none) {
  abbr:hover:after {
    background-color: #222222;
    border-radius: 0.2rem;
    content: attr(title);
    color: #CCCCCC;
    position: absolute;
    text-align: center;
    width: fit-content;
    min-width: 250%;
    padding: 0.5rem;
    border: none;
    z-index: 1;
    top: 110%;
    left: 0;
  }
}

/* Footer */
footer {
  border-top: 2px solid var(--orange);
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.625rem 1.875rem;
  margin: 10px auto 30px auto;
  align-items: center;
  border-radius: 5px;
  display: flex;
}
.footer__details {
  justify-content: center;
  color: var(--gray-50);
  font-size: 0.875rem;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}
.footer__details span,
.footer__details a[rel="license"] {
  white-space: nowrap;
}
.footer__details > span:not(:last-child) {
  border-right: 1px solid var(--gray-50);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
footer nav {
  gap: 0.9375rem;
  display: flex;
}
footer nav a,
footer nav a .icon {
  transform: scale(0.9);
  outline: none;
}
footer nav a:is(:hover, :focus-visible) {
  transform: scale(1);
}
footer nav a img,
footer nav a .icon svg {
  object-fit: contain;
  height: 1.5625rem;
  width: 1.5625rem;
}

/* Media Query */
@media only screen and (max-width: 785px) {
  html {
    font-size: 15px;
  }
  footer {
    padding: 1rem 1.875rem;
    flex-direction: column;
    gap: 1.7rem;
  }
  footer nav {
    gap: 3rem;
  }
}

@media only screen and (max-width: 639px) {
  .language__container {
    justify-content: flex-end;
  }
  header,
  main,
  footer {
    padding: 1rem !important;
  }
}

@media only screen and (max-width: 619px) {
  .footer__details {
    justify-content: center;
  }
  .footer__details span:nth-of-type(2) {
    padding-right: 0 !important;
    border-right: 0 !important;
    margin-right: 0 !important;
  }
  .footer__details span:nth-of-type(3) {
    margin-top: 0.5rem;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 549px) {
  header {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .api__info .api__version {
    display: none;
  }
  .navbar__inner .api__version {
    display: flex !important;
  }
}

@media only screen and (max-width: 469px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 389px) {
  .footer__details span:nth-of-type(1) {
    padding-right: 0 !important;
    border-right: 0 !important;
    margin-right: 0 !important;
  }
  .footer__details span:nth-of-type(2) {
    margin-top: 0.5rem;
    flex-basis: 100%;
  }
  footer nav {
    gap: 2rem;
  }
}
