/* Modal */
.modal {
  --bs-modal-header-border-color: #bbbbbb;
  --bs-modal-header-border-width: 1px;
  --bs-modal-border-width: 0px;
  --bs-modal-bg: var(--white);
}
.modal-content {
  border-top: 2px solid var(--primary-color);
}
#details-table.table,
#warning-table.table {
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-color: var(--bs-body-color);
  --bs-table-border-color: #dddddd;
  --bs-table-striped-bg: #f9f9f9;
  --bs-emphasis-color: var(--black);
  --bs-table-hover-bg: #eeeeff;
  --bs-table-bg: var(--white);
  --bs-border-width: 1px;
  table-layout: fixed;
}
#details-table thead th,
#warning-table thead th {
  background-color: var(--emphasis-color);
  --bs-table-color: var(--white);
  text-align: center;
}
#details-table .group-header,
#warning-table .group-header {
  border-bottom: calc(var(--bs-border-width) * 2) solid var(--focus-color);
  color: var(--focus-color);
  line-height: normal;
  padding-top: 1.5rem;
  font-weight: 400;
  box-shadow: none;
}
#details-tbody td,
#warning-tbody td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Content containers */
:is(header, article, footer) {
  padding: 0.9375rem 1.875rem !important;
  border-radius: var(--bs-border-radius);
  border-top: 2px solid var(--primary-color);
  background-color: var(--white);
}
article {
  padding-bottom: 2.5rem !important;
}

/* Header */
.navbar-brand a {
  --bs-link-color-rgb: 255, 108, 0;
}
.navbar-nav {
  --bs-nav-link-hover-color: var(--nav-color);
  --bs-nav-link-color: var(--nav-color);
}
.nav-link {
  --bs-nav-link-padding-x: 0.5rem;
  --bs-nav-link-padding-y: 0;
}
nav .icon-link-hover {
  --bs-nav-link-hover-color: var(--primary-color);
  --bs-icon-link-transform: translateX(-0.1em);
}
.nav-item .btn {
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-hover-color: var(--primary-color);
  --bs-btn-color: var(--nav-color);
}
.dropdown-toggle::after {
  color: currentColor;
  margin-left: 0;
}
.dropdown-menu {
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-border-color: #bbbbbb;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-bg: var(--white);
}
#translate-dropdown {
  box-shadow: 1px 2px 3px #777777 !important;
  border-top: 2px solid var(--primary-color);
}
#translate-dropdown::before {
  border-bottom-color: var(--primary-color);
  border-bottom: 0.2rem solid #0000;
  border-right: 0.3rem solid #0000;
  border-left: 0.3rem solid #0000;
  position: absolute;
  margin-top: -0.4rem;
  right: 1.4rem;
  border-top: 0;
  content: '';
  height: 0;
  width: 0;
  top: 0;
}

/* IFMS-TADS */
#ifms-tads {
  border-top: 4px solid var(--badge-border-color);
  border-radius: var(--bs-border-radius);
  box-shadow: 5px 5px 5px -2px #777777;
  background-color: #edeff1;
  color: var(--badge-color);
}
#ifms-tads p {
  cursor: help;
}

/* Section */
.text-group h3,
.text-group h4 {
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
}
.text-group .badge {
  --bs-badge-font-size: 0.6em;
}
article p {
  line-height: 1.5625rem;
  text-align: justify;
  margin: 0;
}

/* Abbreviation */
abbr {
  text-underline-offset: 3px;
  position: relative;
}
@media (pointer: coarse), (hover: none) {
  abbr:hover:after {
    background-color: #222222;
    border-radius: 0.2rem;
    content: attr(title);
    position: absolute;
    text-align: center;
    width: fit-content;
    color: #dddddd;
    min-width: 250%;
    padding: 0.5rem;
    border: none;
    z-index: 1;
    top: 110%;
    left: 0;
  }
}

/* Badge */
.step-badge {
  border-top: 4px solid var(--badge-border-color);
  box-shadow: 5px 5px 3px -2px #777777;
  border-radius: 1px 1px 10px 10px;
  background-color: #edeff1;
  text-transform: uppercase;
  color: var(--badge-color);
  margin: -4px auto 0 auto;
  padding: 0.3125rem 1rem;
  justify-content: center;
  word-break: keep-all;
  white-space: nowrap;
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  min-width: 30%;
  display: flex;
}

/* Table */
#combination-table.table {
  --bs-table-striped-color: var(--black);
  --bs-table-hover-color: var(--black);
  --bs-table-border-color: #dddddd;
  --bs-table-striped-bg: #f9f9f9;
  --bs-table-hover-bg: #eeeeff;
  --bs-table-color: var(--black);
  --bs-table-bg: var(--white);
  --bs-border-width: 1px;
}
#combination-table th {
  font-weight: 400;
}
#combination-table thead th {
  padding-bottom: 0.2rem !important;
  --bs-table-color: var(--emphasis-color);
  line-height: normal;
}
#combination-tbody {
  color: var(--emphasis-color);
}
#combination-tbody td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Footer */
footer .nav-link svg {
  fill: revert-layer;
}
footer .nav-link:has(svg, img):is(:hover, :focus-visible) {
  transform: scale(1.1);
}
