.language__container {
  align-items: center;
  position: relative;
  display: flex;
}

#language__button {
  background: transparent;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: 0;
  border: 0;
}

#language__button svg {
  fill: var(--gray-5x);
  height: 1.625rem;
}
#language__button:is(:hover, :focus-visible) svg {
  fill: var(--orange) !important;
}

#language__dropdown {
  box-shadow: 1px 2px 3px var(--gray-50);
  border-top: 2px solid var(--orange);
  background-color: var(--white-F5);
  transform: translate(0px, 35px);
  inset: 0 0 auto auto;
  position: absolute;
  padding: 0.7rem 0;
  list-style: none;
  z-index: 3;
  margin: 0;
  right: 0;
}

#language__dropdown[aria-expanded="false"] {
  display: none;
  opacity: 0;
}
#language__dropdown[aria-expanded="true"] {
  animation: menu-in 0.3s ease-in-out 0s 1 forwards;
  display: block;
}
@keyframes menu-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#language__dropdown a {
  background-color: transparent;
  text-decoration: none;
  text-align: inherit;
  white-space: nowrap;
  line-height: 1.8rem;
  padding: 0 0.7rem;
  font-weight: 400;
  display: block;
  width: 100%;
  clear: both;
  border: 0;
}
#language__dropdown a:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--ocean) !important;
}

#language__dropdown::after {
  border-bottom: 0.3rem solid #0000;
  border-bottom-color: var(--orange);
  border-right: 0.2rem solid #0000;
  border-left: 0.2rem solid #0000;
  position: absolute;
  margin-top: -0.4rem;
  right: 0.6rem;
  border-top: 0;
  content: "";
  height: 0;
  width: 0;
  top: 0;
}
