/* Content */
header,
main,
footer {
  max-width: 1400px;
}
main {
  margin: 0 auto;
}
article {
  padding: 0 1.875rem 2.5rem 1.875rem;
  border-top: 2px solid var(--orange);
  background-color: var(--white);
  border-radius: 5px;
}
article + article {
  margin-top: 25px;
}
main[data-step2="hide"] .survey-step2 {
  display: none;
}
main[data-step2="show"] .survey-step2 {
  display: block;
}

/* IFMS-TADS */
#ifms-tads {
  background-color: var(--white-F5);
  margin-top: 0.9375rem;
  border-radius: 5px;
  padding: 0.5rem 0;
}
#ifms-tads p {
  font-size: 0.875rem;
  line-height: 1.3rem;
}
#ifms-tads p:not(#acronyms) {
  justify-content: center;
  display: flex;
  gap: 5px;
}
#acronyms {
  display: none;
}
#acronyms .separator {
  padding: 0 0.3rem;
}

/* Article */
.badge-area {
  justify-content: center;
  display: flex;
  width: 100%;
}
.step-badge {
  box-shadow: 5px 5px 3px var(--light-gray);
  border-bottom-right-radius: 10px;
  background-color: var(--orange);
  border-bottom-left-radius: 10px;
  padding: 0.3125rem 1rem;
  justify-content: center;
  margin-top: -2px;
  min-width: 30%;
  display: flex;
  gap: 5px;
}
.step-badge div {
  text-transform: uppercase;
  word-break: keep-all;
  white-space: nowrap;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

/* Section */
.text-group h2 {
  margin-bottom: 0.3125rem;
  color: var(--orange);
  font-size: 1.25rem;
  margin-top: 2.5rem;
  font-weight: 400;
}
.text-group p {
  line-height: 1.5625rem;
  text-align: justify;
}
.text-group p + p {
  margin-top: 0.3125rem;
}

/* Grid */
.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  display: grid;
}
#keywords-fields {
  margin-top: 1rem;
}

/* Buttons */
.button__section {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
}
.button__section .input-group {
  width: auto;
}

/* Table */
table {
  background-color: var(--white);
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
col:nth-of-type(1) {
  width: 3%;
}
col:nth-of-type(3) {
  width: 7%;
}
th {
  border-bottom: 0.125rem solid var(--dark-ocean);
  padding: 0.75rem 0.5rem 0.2rem 0.5rem;
  color: var(--ocean);
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}
th:first-child {
  font-weight: bold;
}
tr td:first-child {
  font-weight: bold;
}
tbody tr + tr {
  border-top: 1px solid var(--light-gray);
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
tbody tr:hover {
  background-color: #eeeeff;
}
td {
  padding: 0.75rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000000;
  overflow: hidden;
}
td:has(.input-group) {
  padding: 0.25rem 0;
}

/* Media Query */
@media only screen and (max-width: 785px) {
  #ifms-tads p:not(#acronyms) .separator,
  #ifms-tads p:not(#acronyms) .link {
    display: none;
  }
  #acronyms {
    display: flex !important;
    justify-content: center;
  }
  #apikey-and-button {
    flex-direction: column;
  }
  #button__section {
    align-items: center;
    margin-top: 0;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 639px) {
  .ifms-slice {
    display: none;
  }
}

@media only screen and (max-width: 619px) {
  #keywords-fields {
    grid-template-columns: 1fr !important;
  }
}

@media only screen and (max-width: 389px) {
  #ifms-tads {
    padding: 0 !important;
    border: 0 !important;
  }
  #institution,
  #course {
    display: none !important;
  }
}
