#search-csv {
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--white);
}
#search-csv-form {
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  display: flex;
  gap: 20px;
}
label {
  color: var(--gray-50);
  font-size: 1.25rem;
  font-weight: 400;
}
#search-csv-form .form-field {
  padding: 0;
}
#search-csv-form .input-group:has(button) {
  width: auto;
}

table {
  background-color: var(--white);
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
caption {
  background-color: var(--white);
  padding-bottom: 1.25rem;
  color: var(--gray-50);
  padding-top: 2rem;
  font-size: 1.25rem;
}

th {
  border-bottom: 0.125rem solid var(--dark-ocean);
  color: var(--gray-50);
  text-align: left;
  position: sticky;
  padding: 0.5rem;
  z-index: 2;
  top: 0;
}
thead tr[data-stuck] th {
  border-right: 1px solid var(--white);
  background-color: var(--dark-ocean);
  border-left: 1px solid var(--white);
  color: var(--white);
}

tbody tr:nth-child(even) {
  background-color: var(--white-F5);
}
tbody tr:hover {
  background-color: var(--light-yellow);
}
tbody tr td {
  font-weight: normal;
  cursor: pointer;
}
tbody tr:hover td {
  font-weight: bold;
}

td {
  border-bottom: 0.0625rem solid var(--light-gray);
  padding: 0.75rem 0.5rem;
  text-overflow: ellipsis;
  color: var(--gray-50);
  white-space: nowrap;
  overflow: hidden;
}
td a,
td time {
  transition: none;
}

tfoot td {
  border-top: 0.125rem solid var(--dark-ocean);
  font-weight: bold;
  border-bottom: 0;
}

#search-link {
  background-color: var(--white);
  justify-content: center;
  padding: 3rem 0;
  display: flex;
  width: 100%;
}

#no-file-message {
  background-color: var(--white);
  padding: 4.375rem 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
}
